Repository celestiaorg/celestia-node, pull requests merged in 2021-11, with the labels that each got.

#148 service/header: Implement basic header `Service` structure and interfaces
  service/header/interface.go
  service/header/service.go
Labels: area:header

#160 service/header: implement HeaderSub
  service/header/service.go
  service/header/subscription.go
  service/header/subscription_test.go
Labels: area:header

#167 service/share: Service interface and basic implementation for GetShare
  ipld/read.go
  node/full.go
  node/light.go
  node/node.go
  node/services/service.go
  service/header/dah.go
  service/header/header.go
  service/share/share.go
  service/share/share_test.go
  service/share/testing.go
Labels: area:shares

#185 node/services: remove unused components constructor
  node/services/service.go
Labels: area:node

#170 service/share, ipld: adds ability to retrieve shares by namespace ID
  go.mod
  go.sum
  ipld/errors.go
  ipld/plugin/nmt.go
  ipld/plugin/nmt_test.go
  ipld/read.go
  ipld/read_test.go
  service/share/share.go
  service/share/share_test.go
Labels: area:shares

#208 fix(node/p2p): ensure DHT bootrapps itself on Start
  node/p2p/routing.go
Labels: area:p2p

#195 service/header: Store implementation
  go.mod
  service/header/header.go
  service/header/interface.go
  service/header/store.go
  service/header/store_test.go
  service/header/testing.go
  service/header/verify.go
  service/header/verify_test.go
Labels: area:header

#196 cmd: add flag to start node on remote core
  cmd/init.go
  cmd/start.go
  core/testing.go
  node/core/core.go
  node/full_test.go
  node/fxutil/util.go
  node/node.go
  node/options.go
Labels: area:config, area:core

#224 service/header: Verify hash matches header retrieved in `RequestByHash()`
  service/header/core_exchange.go
  service/header/core_exchange_test.go
  service/header/p2p_exchange.go
  service/header/p2p_exchange_test.go
Labels: area:header

#231 service/header: more descriptive err log for append in `store.go`
  service/header/store.go
Labels: area:header

#238 das: log time it takes to complete a sampling routine for a header
  das/daser.go
Labels: area:shares

#229 cmd, service/header: rename `genesis` to `trustedHash` to avoid confusion, extract flags to common var for re-use
  cmd/flags.go
  cmd/init.go
  cmd/start.go
  node/options.go
  node/services/config.go
  node/services/service.go
  service/header/sync.go
  service/header/sync_test.go
Labels: area:config, area:header

#252 Create Pending Changelog Checker Action and initial CHANGELOG.md and CHANGELOG-PENDING.md files
  .github/workflows/pending-changelog-checker.yml
  CHANGELOG-PENDING.md
  CHANGELOG.md
Labels: docs:adr, no_changelog
