Repository celestiaorg/celestia-node, pull requests merged in 2021-09, with the labels that each got.

#48 rpc: implement simple RPC client to dial Celestia Core endpoints
  .gitignore
  go.mod
  go.sum
  node/config.go
  node/full.go
  node/full_test.go
  node/light_test.go
  node/node.go
  node/rpc/rpc.go
  node/type.go
  node/util/util.go
  rpc/coreclient.go
  rpc/coreclient_test.go
  testutils/coremock.go
Labels: area:rpc

#49 ci: increase golint timeout
  .golangci.yml
Labels: ci:actions

#52 docs/adr: ADR for devnet Celestia Core <> Celestia Full node communication
  docs/adr/adr-002-predevnet-core-to-full-communication.md
Labels: docs:adr

#54 ci: increase run timeout to 5m
  .golangci.yml
Labels: ci:actions

#51 core: package managing Core Node
  core/client.go
  core/client_test.go
  core/config.go
  core/log_adapter.go
  core/mock_test.go
  go.mod
  node/config.go
  node/core/core.go
  node/full.go
  node/full_test.go
  node/node.go
  node/rpc/rpc.go
  rpc/coreclient.go
  rpc/coreclient_test.go
  testutils/coremock.go
Labels: area:node, area:rpc

#60 core: store new block event query in variable in the test file
  core/client_test.go
Labels: area:core

#57 node: add more p2p services and protocols
  go.mod
  go.sum
  node/full.go
  node/full_test.go
  node/fxutil/util.go
  node/light.go
  node/node.go
  node/p2p/addrs.go
  node/p2p/bitswap.go
  node/p2p/host.go
  node/p2p/identity.go
  node/p2p/misc.go
  node/p2p/p2p.go
  node/p2p/pubsub.go
  node/p2p/routing.go
  node/util/util.go
Labels: area:p2p

#67 node: add full node p2p stream test
  node/full_test.go
Labels: area:node, area:p2p

#59 block: create `Fetcher` interface
  core/client_test.go
  core/fetcher.go
  core/fetcher_test.go
  node/full.go
  node/full_test.go
  node/node.go
  service/block/interface.go
  service/block/service.go
  service/block/types.go
Labels: area:block

#77 service/block: new block listener + erasure coding
  go.mod
  go.sum
  service/block/erasure.go
  service/block/event.go
  service/block/event_test.go
  service/block/fraud.go
  service/block/service.go
  service/block/types.go
  service/header/dah.go
Labels: area:block

#93 service/header, service/block: Implements spec'd out types for block and header
  core/fetcher.go
  service/block/erasure.go
  service/block/event.go
  service/block/event_test.go
  service/block/fraud.go
  service/block/interface.go
  service/block/types.go
  service/header/types.go
Labels: area:header, area:block, architecture

#86 node: initialization and Repository
  core/config.go
  core/init.go
  core/repo.go
  core/testing.go
  go.mod
  go.sum
  node/config.go
  node/config_test.go
  node/core/core.go
  node/full.go
  node/full_test.go
  node/init.go
  node/init_test.go
  node/light.go
  node/light_test.go
  node/p2p/p2p.go
  node/repo.go
  node/repo_mem.go
  node/repo_test.go
  node/testing.go
Labels: area:node

#95 node: provide DAGService
  go.mod
  go.sum
  node/node.go
  node/p2p/bitswap.go
  node/p2p/ipld.go
  node/p2p/p2p.go
Labels: area:node, area:block

#96 service/block: add basic encoding validation in `BlockService`
  service/block/event.go
  service/block/event_test.go
  service/block/fraud.go
  service/block/fraud_test.go
Labels: area:header, area:block, area:fraud
