Repository celestiaorg/celestia-node, pull requests merged in 2022-05, with the labels that each got.

#658 service/state: Add `SubmitPayForData` endpoint
  node/node.go
  service/state/core_access.go
  service/state/interface.go
  service/state/rpc.go
Labels: area:state, area:rpc, kind:feature

#665 README.md: Add CoC link
  README.md
Labels: kind:miscellaneous

#667 service/state: Clean up RPC endpoint for `/submit_pfd`
  service/state/rpc.go
Labels: area:state, area:rpc, kind:miscellaneous

#545 fraud: Define Bad Encoding Fraud Poof struct. Provide functionality for befp creation/validation.
  Makefile
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/bad_encoding_test.go
  fraud/pb/proof.pb.go
  fraud/pb/proof.proto
  fraud/proof.go
  go.sum
  ipld/pb/share.pb.go
  ipld/pb/share.proto
  ipld/read.go
  ipld/read_test.go
  ipld/retriever.go
  ipld/share.go
  ipld/write.go
Labels: area:fraud, kind:feature

#680 refactor(ipld): nit-picks in GetLeavesByNamespace
  ipld/read.go
Labels: kind:miscellaneous

#681 chore(ipld): minor cleanups, renaming and docs fixes
  ipld/add.go
  ipld/get.go
  ipld/get_test.go
  ipld/nmt_adder.go
  ipld/retriever.go
  ipld/retriever_test.go
  service/header/header.go
  service/share/share_test.go
Labels: area:ipld, kind:miscellaneous

#634 docs/adr: Incentivized testnet ADR
  docs/adr/adr-007-incentivized-testnet.md
Labels: docs:adr, kind:miscellaneous

#700 fix(cmd): use ~ instead of $HOME in paths
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
Labels: area:config, kind:bug-fix

#698 chore: update .gitignore to include go.work
  .gitignore
Labels: admin, kind:miscellaneous

#693 service/rpc: Add a separate `rpc` service to handle all exposed endpoints
  header/store/store.go
  node/components.go
  node/config.go
  node/node.go
  node/rpc/component.go
  node/rpc_test.go
  node/services/service.go
  node/state/state.go
  service/header/service.go
  service/rpc/config.go
  service/rpc/endpoints.go
  service/rpc/handler.go
  service/rpc/header.go
  service/rpc/server.go
  service/rpc/server_test.go
  service/rpc/share.go
  service/rpc/state.go
  service/share/rpc.go
  service/share/share.go
  service/state/service.go
Labels: area:rpc, kind:feature

#710 feat(service/rpc): unified error handling
  service/rpc/header.go
  service/rpc/share.go
  service/rpc/state.go
  service/rpc/util.go
Labels: area:rpc, kind:feature

#721 fix(ipld): fix race in rare case when Retriver fetches a share from both Row and Col
  ipld/retriever.go
Labels: area:ipld, kind:bug-fix

#722 fix(ipld): simply rely on global rsmt2d.Codec constructor for now to avoid races
  fraud/bad_encoding_test.go
  ipld/get_test.go
  ipld/retriever.go
  ipld/retriever_test.go
  service/share/full_availability.go
  service/share/share.go
Labels: area:ipld, kind:bug-fix

#705 header: introduce ConstructFn type and integrate it into core.Listener and core.Exchange
  fraud/bad_encoding_test.go
  header/core/exchange.go
  header/core/exchange_test.go
  header/core/listener.go
  header/core/listener_test.go
  header/interface.go
  ipld/add.go
  node/components.go
  node/core/core.go
  node/settings.go
Labels: area:header, testing, swamp, kind:improvement

#723 service/rpc: Implement sanity checking for some request parameters & implement `/head` endpoint.
  ipld/get.go
  ipld/helpers.go
  node/rpc_test.go
  service/rpc/endpoints.go
  service/rpc/header.go
  service/rpc/util.go
  service/share/share.go
Labels: area:rpc, kind:feature

#728 swamp: add options to swamp config
  node/tests/swamp/config.go
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
Labels: swamp, kind:improvement

#717 params: Introduce `CUSTOM` network type
  node/init.go
  params/bootstrap.go
  params/default.go
Labels: area:config, area:node, kind:feature

#712 node/state: Generate key for node if no key found in keystore path
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
  cmd/flags_key.go
  node/components.go
  node/config.go
  node/config_opts.go
  node/key/key.go
  node/state/core.go
Labels: area:node, area:state, kind:feature

#729 node: Include expected err msg in`/namespaced_shares` test
  node/rpc_test.go
  service/share/share_test.go
Labels: area:rpc, kind:miscellaneous

#734 chore(ipld): extract byzantine error and constructor for it into a separate file
  ipld/get.go
  ipld/retriever.go
  ipld/retriever_byzantine.go
Labels: kind:miscellaneous

#737 deps: bump rsmt2d to 0.5.0
  go.mod
  go.sum
  ipld/get_test.go
  ipld/retriever.go
  ipld/retriever_byzantine.go
  ipld/retriever_quadrant.go
Labels: area:ipld, kind:dependencies

#742 node: Use in-mem keyring for tests and clean up test redundancy
  node/components.go
  node/node_bridge_test.go
  node/node_full_test.go
  node/node_light_test.go
  node/node_test.go
  node/rpc/component.go
  node/settings.go
  node/state/core.go
  node/state/keyring.go
  node/state/state.go
  node/testing.go
  node/tests/swamp/swamp.go
Labels: area:node, testing, kind:miscellaneous

#743 node/state: Ensures that keyring signer uses the correct key passed/generated during construction
  node/state/keyring.go
Labels: area:node, area:state, kind:bug-fix

#741 params: Allow running `CELESTIA_CUSTOM` without bootstrappers (for bridge)
  params/default.go
  params/genesis.go
Labels: area:config, kind:miscellaneous

#749 node/services: Invoke function to ensure that an empty block is stored at least once
  node/components.go
  service/share/empty.go
Labels: area:header, area:shares, kind:bug-fix

#753 BREAKING CHANGE(header/p2p/exchange): Upgrade and reformat protocol ID
  header/p2p/exchange.go
Labels: area:header, area:p2p, kind:breaking

#751 das: Return from sampling routine upon sampling failure
  das/daser.go
  das/daser_test.go
  service/share/testing.go
Labels: kind:bug-fix, area:das

#757 cmd/cel-key: Extract key utility into separate binary to prevent tight coupling between sdk and celestia-node binary
  Makefile
  cmd/cel-key/main.go
  cmd/cel-key/node_types.go
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
  cmd/celestia/main.go
Labels: kind:breaking

#746 cmd/bridge: Remove `--headers.trusted-hash` flag for bridge node
  cmd/celestia/bridge.go
Labels: area:config, kind:breaking, kind:miscellaneous

#760 das: INFO level logs for sampling past header, add log for storing checkpoint
  das/daser.go
Labels: kind:miscellaneous, area:das

#763 .gitignore: Ignore cel-key
  .gitignore
Labels: admin, kind:miscellaneous

#764 readme: add full node to the readme with links
  README.md
Labels: kind:miscellaneous

#767 fix: node link expired
  README.md
Labels: documentation, kind:miscellaneous

#730 ipld: move for dag service to block service
  das/daser_test.go
  fraud/bad_encoding_test.go
  header/core/exchange.go
  header/core/exchange_test.go
  header/core/listener.go
  header/core/listener_test.go
  header/header.go
  header/header_test.go
  header/interface.go
  ipld/add.go
  ipld/get.go
  ipld/get_shares.go
  ipld/get_test.go
  ipld/nmt_adder.go
  ipld/plugin/nmt.go
  ipld/retriever.go
  ipld/retriever_byzantine.go
  ipld/retriever_test.go
  node/core/core.go
  node/node.go
  node/p2p/ipld.go
  node/p2p/p2p.go
  node/services/service.go
  service/share/empty.go
  service/share/full_availability.go
  service/share/light_availability.go
  service/share/share.go
  service/share/share_test.go
  service/share/testing.go
Labels: area:ipld, kind:improvement

#777 fix(node): ensure RPC server is always started with 0(random) port in tests
  node/testing.go
Labels: area:node, testing, kind:miscellaneous

#779 params: Fix issue in `CELESTIA_CUSTOM` to be able to parse genesis even if bootstrappers not provided
  params/default.go
Labels: kind:miscellaneous

#768 cmd: Trim `--core.grpc` flag value
  cmd/flags_core.go
Labels: area:config, kind:miscellaneous

#778 node: Use in-memory keyring signer for `TestNode`
  node/testing.go
Labels: kind:miscellaneous
