Repository celestiaorg/celestia-node, pull requests merged in 2022-09, with the labels that each got.

#1013 feat: adding pre-commit hook and makefile installation script
  .githooks/pre-commit
  Makefile
Labels: kind:miscellaneous

#917 fraud: implement fraud sync
  das/daser_test.go
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding_test.go
  fraud/interface.go
  fraud/pb/proof.pb.go
  fraud/pb/proof.proto
  fraud/registry.go
  fraud/requester.go
  fraud/service.go
  fraud/service_test.go
  fraud/store.go
  fraud/store_test.go
  fraud/sync.go
  node/components.go
  node/services/service.go
  node/tests/fraud_test.go
Labels: area:fraud, kind:feature, kind:breaking

#1061 chore: resolving linter errors on main
  fraud/testing.go
  node/node.go
Labels: kind:bug-fix

#1052 params: Switch default network to `arabica`
  params/bootstrap.go
  params/default.go
  params/genesis.go
  params/network.go
Labels: kind:breaking, area:params

#1065 refactor(service/share): Demote log level for discovery connection attempt from WARN to DEBUG
  service/share/backoff.go
  service/share/discovery.go
Labels: kind:improvement

#1073 feat(cmd): Provide ability to specify network to user
  cmd/cel-key/node_types.go
  cmd/cel-shed/header.go
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
  cmd/flags_node.go
  params/default.go
  params/genesis.go
  params/network.go
Labels: area:config, kind:breaking

#1081 cmd/cel-key: Return err if no node type provided
  cmd/cel-key/node_types.go
Labels: kind:miscellaneous

#990 feat|refactor(header/sync): network head determination
  header/header.go
  header/sync/ranges.go
  header/sync/sync.go
  header/sync/sync_head.go
  header/sync/sync_test.go
  header/verify.go
  node/rpc_test.go
  node/services/service.go
  params/network.go
Labels: area:header, kind:improvement

#1089 refactor(service/state): Fix log to return correct height of balance request
  service/state/core_access.go
Labels: area:state, kind:miscellaneous

#1097 typo: Fix the cmd grpc port in the docs
  cmd/flags_core.go
Labels: kind:improvement

#1060 feat(rpc): implementing staking reads and replace sdk.Address
  service/rpc/endpoints.go
  service/rpc/state.go
  service/state/core_access.go
  service/state/interface.go
  service/state/service.go
  service/state/state.go
Labels: area:rpc, kind:improvement

#1088 refactor(service/state): `CoreAccessor` relies on `header.Head` instead of `header.Getter`
  header/interface.go
  header/sync/sync_head.go
  node/state/core.go
  node/state/state.go
  service/state/core_access.go
  service/state/service.go
Labels: area:header, area:state, kind:improvement

#988 das: Parallelise DASer
  das/checkpoint.go
  das/checkpoint_store.go
  das/checkpoint_store_test.go
  das/checkpoint_test.go
  das/coordinator.go
  das/coordinator_test.go
  das/daser.go
  das/daser_test.go
  das/doc.go
  das/done.go
  das/state.go
  das/state_test.go
  das/stats.go
  das/store.go
  das/subscriber.go
  das/worker.go
  go.mod
  node/rpc_test.go
  service/rpc/das.go
Labels: area:shares, kind:breaking, area:das

#1037 docs(adr): BlockSync Overhaul ADR #011 - Part 1
  docs/adr/adr-11-blocksync-overhaul.md
Labels: docs:adr, kind:miscellaneous

#1067 chore(deps): Upgrading to go 1.19
  .github/workflows/docker-build.yml
  .github/workflows/go-ci.yml
  README.md
  cmd/celestia/cmd_test.go
  cmd/env.go
  cmd/flags_misc.go
  core/testing.go
  docker/Dockerfile
  go.mod
  header/doc.go
  header/p2p/exchange.go
  header/sync/sync.go
  header/testing.go
  header/verify.go
  ipld/get_shares.go
  ipld/plugin/test_helpers.go
  ipld/retriever.go
  ipld/retriever_quadrant.go
  ipld/test_helpers.go
  node/components.go
  node/config.go
  node/init.go
  node/rpc/component.go
  node/rpc_test.go
  node/store.go
  node/tests/fraud_test.go
  node/tests/p2p_test.go
  node/tests/swamp/swamp_tx.go
  service/rpc/server.go
  service/rpc/server_test.go
  service/share/share.go
  service/share/share_test.go
  service/state/doc.go
Labels: area:repository, kind:dependencies

#1131 refactor(service/state): Use DefaultProofRuntime instead of ibc-go `VerifyMembership` endpoint
  go.mod
  go.sum
  service/state/core_access.go
Labels: area:state, kind:dependencies

#1095 Remove @liamsi from global CODEOWNERS
  .github/CODEOWNERS
Labels: admin, kind:miscellaneous

#1082 README: ✍️ added Table of Contents
  README.md
Labels: documentation, kind:miscellaneous

#1079 header/store: use an atomic.Pointer instead of Lock
  header/store/store.go
Labels: kind:improvement

#1148 Remove Changelog section from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, kind:miscellaneous

#1141 header/p2p: remove ExtendedHeaderRequest struct
  header/p2p/request.go
  header/p2p/serde.go
Labels: area:header, kind:improvement

#1145 Add Protobuf section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, kind:miscellaneous

#1102 feat(rpc): Allowing for `ValAddr` on `/transfer` and `/balance/$ADDRESS`
  service/rpc/state.go
  service/state/core_access.go
  service/state/interface.go
  service/state/service.go
  service/state/state.go
Labels: area:rpc, kind:improvement

#1152 bugfix(fraud): close stream properly
  fraud/sync.go
Labels: area:fraud, kind:bug-fix

#1123 log(header): Add detailed error for non-adjacent header attempt
  header/interface.go
  header/sync/sync_head.go
  header/verify.go
Labels: area:header, kind:miscellaneous

#1169 bugfix(nodebuilder/fraud): remove fraud.Subscriber from module
  nodebuilder/fraud/module.go
Labels: area:fraud, kind:bug-fix

#1125 das: add metrics to DASer
  das/coordinator.go
  das/metrics.go
  das/worker.go
  nodebuilder/daser/opts.go
  nodebuilder/settings.go
Labels: kind:improvement, area:das

#1157 das: add extra debug logs for sampled headers
  das/daser_test.go
  das/worker.go
Labels: bug, kind:miscellaneous, area:das

#1171 bugfix: fix flakiness in TestFullReconstructFromLights
  nodebuilder/tests/reconstruct_test.go
Labels: testing, swamp, kind:bug-fix

#1056 refactor(nodebuilder): moving service/<service> services to respective node sub-packages
  README.md
  das/daser.go
  das/daser_test.go
  header/p2p/subscriber.go
  header/p2p/subscription_test.go
  ipld/retriever.go
  nodebuilder/core/module.go
  nodebuilder/daser/daser.go
  nodebuilder/daser/module.go
  nodebuilder/fraud/fraud.go
  nodebuilder/fraud/module.go
  nodebuilder/fraud/service.go
  nodebuilder/header/module.go
  nodebuilder/header/service.go
  nodebuilder/module.go
  nodebuilder/node.go
  nodebuilder/p2p/module.go
  nodebuilder/rpc/module.go
  nodebuilder/rpc/rpc.go
  nodebuilder/rpc_test.go
  nodebuilder/share/module.go
  nodebuilder/share/service.go
  nodebuilder/share/share.go
  nodebuilder/state/core.go
  nodebuilder/state/module.go
  nodebuilder/state/service.go
  nodebuilder/tests/reconstruct_test.go
  service/header/service.go
  service/rpc/availability.go
  service/rpc/handler.go
  service/rpc/middleware.go
  service/rpc/share.go
  service/rpc/state.go
  service/state/service.go
  share/backoff.go
  share/backoff_test.go
  share/cache_availability.go
  share/cache_availability_test.go
  share/discovery.go
  share/doc.go
  share/empty.go
  share/full_availability.go
  share/full_availability_test.go
  share/full_reconstruction_test.go
  share/interface.go
  share/light_availability.go
  share/light_availability_test.go
  share/sample.go
  share/sample_test.go
  share/set.go
  share/set_test.go
  share/share.go
  share/share_test.go
  share/testdata/block-825320.json
  share/testing.go
  state/core_access.go
  state/doc.go
  state/helpers.go
  state/state.go
Labels: architecture, kind:improvement, area:api

#1170 Fix markdown lint workflow to run on directories
  .github/workflows/markdown-lint.yml
Labels: ci:actions, kind:bug-fix
