Repository celestiaorg/celestia-node, pull requests merged in 2022-02, with the labels that each got.

#369 docs/adr: State Interaction
  docs/adr/adr-004-state-interaction.md
Labels: no_changelog

#404 core: Remove client retry test
  core/client_test.go
Labels: no_changelog

#421 chore(.gitignore): cleanup gitingore
  .gitignore
Labels: no_changelog

#394 swamp: separate tendermint node creation from the swamp
  Makefile
  node/tests/swamp/config.go
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
Labels: no_changelog

#428 feat(service/header): HeightSub
  CHANGELOG-PENDING.md
  service/header/store.go
  service/header/store_heightsub.go
  service/header/store_heightsub_test.go
  service/header/store_test.go
  service/header/sync_test.go
Labels: area:header

#432 perf(services/header): increase Store caches sizes
  service/header/store.go
Labels: area:header, no_changelog

#431 refactor(service/header): rework on disk writing strategy of the Store
  CHANGELOG-PENDING.md
  node/services/service.go
  service/header/interface.go
  service/header/p2p_exchange_test.go
  service/header/store.go
  service/header/store_height_indexer.go
  service/header/store_heightsub.go
  service/header/store_heightsub_test.go
  service/header/store_test.go
  service/header/sync_test.go
  service/header/testing.go
Labels: area:header

#434 feat(service/header): update Store.Append to return amount of applied/valid headers
  CHANGELOG-PENDING.md
  service/header/interface.go
  service/header/p2p_exchange_test.go
  service/header/store.go
  service/header/store_test.go
  service/header/sync.go
  service/header/sync_test.go
Labels: area:header

#438 swamp: Add store method to node creation
  node/tests/swamp/config.go
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
Labels: no_changelog, swamp

#458 fix(service/header): lazily load Store head
  CHANGELOG-PENDING.md
  service/header/store.go
  service/header/store_init_test.go
Labels: area:header

#455 Pass trusted peers to config
  CHANGELOG-PENDING.md
  cmd/flags_header.go
  node/config_opts.go
  node/services/config.go
  node/services/service.go
  service/header/p2p_exchange.go
  service/header/p2p_exchange_test.go
Labels: area:config, area:p2p

#397 service/header: SyncState
  CHANGELOG-PENDING.md
  service/header/interface.go
  service/header/p2p_exchange_test.go
  service/header/store.go
  service/header/sync.go
  service/header/sync_ranges.go
  service/header/sync_test.go
Labels: area:header

#459 service/headers: Fix race in `TestCoreListener`
  service/header/core_listener_test.go
Labels: no_changelog

#468 chore(service/header): minor code cleanups
  service/header/service.go
  service/header/store.go
  service/header/sync.go
Labels: no_changelog

#478 fix(params): update bootstrappers' peer ids
  params/bootstrap.go
Labels: no_changelog
