Repository celestiaorg/celestia-node, pull requests merged in 2022-06, with the labels that each got.

#788 params: add WithBootstrappers option
  node/components.go
  node/node.go
  node/p2p/misc.go
  node/p2p/routing.go
  node/services/config.go
  node/services/service.go
  node/settings.go
  node/tests/p2p.go
  params/bootstrap.go
  params/network.go
Labels: area:node, kind:feature

#794 node: Some cleanup for a test in pkg node
  node/store_test.go
Labels: area:node, testing, kind:improvement

#808 fraud: introduce fraud service interface
  docs/adr/adr-006-fraud-service.md
  fraud/interface.go
Labels: area:fraud, kind:feature

#812 rpc: move middleware creation into separate file
  node/rpc/component.go
  service/rpc/middleware.go
  service/rpc/server.go
Labels: area:rpc, area:fraud, kind:improvement

#816 chore: bump go version to 1,18
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: kind:miscellaneous

#811 fraud: implement fraud service
  fraud/bad_encoding.go
  fraud/interface.go
  fraud/service.go
  fraud/service_test.go
  fraud/subscription.go
  fraud/topic.go
Labels: area:fraud, kind:feature

#815 fix(ipld): fix races in the Retriever's doRequest method
  ipld/retriever.go
Labels: kind:bug-fix

#822 fix: fix linter
  ipld/retriever.go
Labels: kind:bug-fix

#828 fraud: extend proof stucture
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/bad_encoding_test.go
  fraud/pb/proof.pb.go
  fraud/pb/proof.proto
  fraud/proof.go
  fraud/service_test.go
Labels: area:fraud, kind:improvement

#821 das | header: Extract `HeaderGetter` interface from `das` pkg into header pkg
  das/daser.go
  das/daser_test.go
  das/interface.go
  header/interface.go
Labels: area:header, kind:miscellaneous, area:das

#852 chore(header): removing dah.go
  header/dah.go
  service/share/testing.go
Labels: area:header, kind:improvement

#844 state: add transfer endpoint
  service/rpc/endpoints.go
  service/rpc/state.go
  service/state/core_access.go
  service/state/interface.go
  service/state/service.go
  service/state/state.go
Labels: area:state, kind:feature

#842 header: `Exchange` interface implements `Getter`
  header/core/exchange.go
  header/core/exchange_test.go
  header/interface.go
  header/local/exchange.go
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/store/init.go
  header/sync/sync.go
Labels: area:header, kind:miscellaneous

#843 go.mod: Upgrade celestia-core to v1.2.4
  go.mod
  go.sum
Labels: kind:dependencies

#868 chore(ipld/plugin): drop custom CID codec pluggability
  ipld/plugin/nmt.go
Labels: area:ipld, kind:miscellaneous

#866 cmd: Minor clean up in validation of given rpc endpoint
  cmd/flags_core.go
Labels: area:config, kind:miscellaneous

#849 das: unify logic in catchUp and sample
  das/daser.go
Labels: kind:improvement, area:das

#870 fix(share): protect datastore autobatch in CacheAvailability with a lock
  service/share/cache_availability.go
Labels: area:shares, kind:bug-fix

#820 node: integrate fraud service
  das/daser.go
  das/daser_test.go
  fraud/bad_encoding.go
  fraud/proof.go
  fraud/service.go
  fraud/service_test.go
  fraud/testing.go
  header/interface.go
  header/sync/sync.go
  header/testing.go
  node/components.go
  node/node.go
  node/services/service.go
  node/state/state.go
  node/tests/fraud_test.go
  service/rpc/middleware.go
  service/state/service.go
Labels: area:fraud, kind:feature

#872 swamp: fix TestFraudProofBroadcasting call of BlockTime
  node/tests/fraud_test.go
Labels: kind:bug-fix

#826 fraud: fix findings in fraud package
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/bad_encoding_test.go
  fraud/proof.go
  ipld/retriever_byzantine.go
Labels: area:fraud, kind:improvement
