Repository celestiaorg/celestia-node, pull requests merged in 2022-03, with the labels that each got.

#477 tests(service/header): fix flakey TestCoreListener
  service/header/core_listener_test.go
  service/header/p2p_subscriber.go
Labels: no_changelog

#480 header: skip empty blocks
  CHANGELOG-PENDING.md
  service/header/header.go
  service/header/header_test.go
Labels: area:header

#443 swamp: Sync sub test with state sync
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
  service/header/service.go
  service/header/store_heightsub.go
Labels: no_changelog, swamp

#490 cmd: Change `ParseHeadersFlag` -> `ParseTrustedHashFlags` in docs
  cmd/flags_header.go
Labels: no_changelog, docs:godocs

#500 ci: Remove changelog workflow from CI, use github automatic one instead
  .github/workflows/pending-changelog-checker.yml
  CHANGELOG-PENDING.md
  CHANGELOG.md
Labels: ci:actions

#441 swamp: Full Node sync tests
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
Labels: swamp

#445 README.md: more accurate description of repo
  README.md
Labels: no_changelog

#442 ipld: retrieve data starting from root
  go.mod
  ipld/read.go
  ipld/read_test.go
  node/services/service.go
  service/share/full_availability.go
Labels: area:ipld

#534 chore: remove and edit templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/change-request.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: admin

#492 docs/adr: Bad encoding fraud proof ADR
  docs/adr/adr-006-fraud-service.md
Labels: docs:adr

#538 swamp: remove redunancy in node creation
  node/tests/swamp/swamp.go
  node/tests/sync_test.go
Labels: swamp

#526 Update docker-build GH action to push sha tagged images
  .github/workflows/docker-build.yml
  docker/Dockerfile
Labels: github_actions

#539 service/header/p2p_exchange: Revert exchange protocol upgrade
  service/header/p2p_exchange.go
Labels: bug, area:header, area:p2p

#549 fix(core): prevent spamming of old headers during bridge node sync
  core/fetcher.go
  go.mod
  go.sum
  service/header/core_listener.go
  service/header/interface.go
  service/header/p2p_subscriber.go
Labels: area:core_and_app, kind:bug-fix

#553 chore(service/header): remove old todo in core_listener
  service/header/core_listener.go
Labels: kind:improvement

#473 das: DASing of past headers
  das/checkpoint_store.go
  das/checkpoint_store_test.go
  das/daser.go
  das/daser_test.go
  das/doc.go
  das/interface.go
  node/services/service.go
  service/header/testing.go
Labels: area:shares, kind:feature

#555 service/block: Delete all of `BlockService` as it is unused.
  node/node.go
  node/node_bridge_test.go
  node/services/service.go
  service/block/service.go
  service/block/store.go
  service/block/store_test.go
  service/block/types.go
Labels: area:block, kind:improvement

#551 swamp/tests: light node syncs with multiple trusted peers
  cmd/flags_header.go
  node/config_opts.go
  node/tests/sync_test.go
Labels: swamp, kind:improvement

#566 chore(.gitignore): fix gitignore for files in root
  .gitignore
Labels: kind:miscellaneous

#556 refactor(params): globalstateless network definition
  node/components.go
  node/fxutil/options.go
  node/node.go
  node/node_light_test.go
  node/p2p/bitswap.go
  node/p2p/host.go
  node/p2p/misc.go
  node/p2p/routing.go
  node/services/config.go
  node/services/service.go
  node/settings.go
  params/bootstrap.go
  params/default.go
  params/genesis.go
  params/network.go
Labels: area:node, kind:improvement

#420 service/state: Provide simple scaffold for `StateService` and implement `CoreAccess`
  cmd/celestia/light.go
  core/testing.go
  docs/adr/adr-004-state-interaction.md
  go.mod
  go.sum
  libs/keystore/fs_keystore.go
  libs/keystore/keystore.go
  libs/keystore/map_keystore.go
  node/components.go
  node/node.go
  node/node_bridge_test.go
  node/node_test.go
  node/state/core.go
  service/state/core_access.go
  service/state/doc.go
  service/state/interface.go
  service/state/service.go
  service/state/state.go
Labels: area:state, kind:feature

#580 chore(node): prettify CoreAccess component construction
  node/components.go
  node/state/core.go
Labels: kind:miscellaneous
