Repository celestiaorg/celestia-node, pull requests merged in 2022-10, with the labels that each got.

#1193 fix (.github/workflows): Skip over integration tests in unit test action
  .github/workflows/go-ci.yml
Labels: ci:actions, kind:miscellaneous

#1083 feat(metrics): metrics for PFD transactions, sampling, and broadcasts
  cmd/flags_misc.go
  header/metrics.go
  nodebuilder/daser/opts.go
  nodebuilder/header/opts.go
  nodebuilder/settings.go
  state/core_access.go
  state/metrics.go
Labels: kind:improvement, area:metrics

#1192 fix: README link for header doc
  README.md
Labels: no_changelog, kind:miscellaneous

#1190 nodebuilder: Remove current borked RPC tests in favour of implementing better ones with #962
  nodebuilder/rpc_test.go
Labels: bug, area:rpc, testing, kind:miscellaneous

#1200 fix(state): returning CoreAccessor from nodebuilder for state.WithMetrics
  nodebuilder/settings.go
  nodebuilder/state/core.go
  nodebuilder/state/module.go
Labels: area:state, kind:bug-fix

#1196 fix(ipld/plugin): don't truncate a type byte when it's not in the data
  go.mod
  ipld/plugin/namespace_hasher.go
  ipld/plugin/namespace_hasher_test.go
  ipld/plugin/nmt.go
Labels: area:shares, area:ipld, kind:bug-fix

#1047 metrics: add metrics to fraud package
  fraud/metrics.go
  fraud/proof.go
  fraud/registry.go
  fraud/service.go
  fraud/sync.go
  header/p2p/exchange.go
  nodebuilder/fraud/module.go
  nodebuilder/settings.go
Labels: area:fraud, kind:improvement, area:metrics

#1209 feat(nodebuilder): add AccountAddress to state's Module
  nodebuilder/state/service.go
  state/core_access.go
Labels: kind:improvement, area:api

#1203 fix(nodebuilder/header): Only provide `p2p.Subscriber` as `p2p.Broadcaster` for `bridge` node
  nodebuilder/header/module.go
Labels: area:node, area:p2p, kind:miscellaneous

#1038 feat!(header/p2p): add deadlines on stream and rework proto
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/pb/extended_header_request.pb.go
  header/p2p/pb/extended_header_request.proto
  header/p2p/server.go
Labels: area:header, kind:breaking

#1217 chore(nodebuilder/header): remove dead metrics code
  nodebuilder/header/opts.go
Labels: kind:miscellaneous

#1218 fix(nodebuider/header): initialize Store during start lifecycle instead of fx.Invoke
  nodebuilder/header/header.go
  nodebuilder/header/module.go
Labels: kind:bug-fix

#1046 header/p2p: request head from multiple peers
  header/p2p/exchange.go
  header/p2p/exchange_test.go
Labels: area:header, kind:improvement

#1160 refactor(swamp): use celestia-app instead of the kvstore
  go.mod
  go.sum
  nodebuilder/tests/fraud_test.go
  nodebuilder/tests/p2p_test.go
  nodebuilder/tests/reconstruct_test.go
  nodebuilder/tests/swamp/config.go
  nodebuilder/tests/swamp/swamp.go
  nodebuilder/tests/swamp/swamp_tx.go
  nodebuilder/tests/sync_test.go
Labels: kind:improvement

#1212 Remove watchdog since go 1.19 don't need it anymore.
  go.mod
  logs/logs.go
  nodebuilder/module.go
  nodebuilder/watchdog.go
Labels: kind:miscellaneous

#1153 feat(header/p2p): implement ErrHeadersLimitExceeded error
  header/interface.go
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/server.go
Labels: area:header, kind:improvement

#1191 .github: add new ci_release workflow to unify CI
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/ci_release.yml
  .github/workflows/go-ci.yml
  .github/workflows/labels.yml
  .github/workflows/markdown-lint.yml
  Makefile
  docker/Dockerfile
Labels: testing, kind:improvement

#1147 chore: upgrade to celestia-app v0.7.0
  Makefile
  fraud/bad_encoding.go
  go.mod
  go.sum
  header/header.go
  header/pb/extended_header.pb.go
  header/pb/extended_header.proto
  header/serde.go
  header/testing.go
  nodebuilder/tests/swamp/config.go
  nodebuilder/tests/swamp/swamp.go
  nodebuilder/tests/swamp/swamp_tx.go
  service/rpc/share.go
  share/add.go
  share/availability.go
  share/availability/cache/availability.go
  share/availability/cache/availability_test.go
  share/availability/light/availability_test.go
  share/availability/test/testing.go
  share/byzantine.go
  share/eds/retriever.go
  share/eds/retriever_quadrant.go
  share/eds/retriever_test.go
  share/empty.go
  share/get_test.go
  share/ipld/namespace_hasher.go
  share/ipld/namespace_hasher_test.go
  share/ipld/nmt.go
  share/ipld/nmt_test.go
  share/share.go
  share/test_helpers.go
Labels: area:core_and_app, kind:dependencies, T:dependencies

#1220 fix: broken shutdown for services on fraud proofs receival
  nodebuilder/daser/module.go
  nodebuilder/header/module.go
  nodebuilder/module.go
  nodebuilder/p2p/bitswap.go
  nodebuilder/p2p/pubsub.go
  nodebuilder/p2p/routing.go
  nodebuilder/state/module.go
  nodebuilder/tests/fraud_test.go
  state/core_access.go
Labels: area:node, kind:bug-fix

#1237 .github: add triggering on versioned tags
  .github/workflows/ci_release.yml
Labels: kind:improvement

#1244 refactor(share/ipld): Use consts for node type determination
  share/ipld/namespace_hasher.go
Labels: area:shares, area:ipld, kind:improvement

#1245 fix: returning nil sum when hasher receives data with incorrect length
  share/ipld/namespace_hasher.go
  share/ipld/namespace_hasher_test.go
Labels: area:ipld, kind:bug-fix

#1247 fix(state): `CoreAccessor` manages its own context
  nodebuilder/node_test.go
  state/core_access.go
  state/core_access_test.go
Labels: area:state, kind:bug-fix

#1139 feat(blocksync): `share.WriteEDS`
  go.mod
  go.sum
  share/eds/eds.go
  share/eds/eds_test.go
  share/ipld/nmt_adder.go
Labels: area:shares, kind:feature

#1158 feat(blocksync): `share.ReadEDS`
  share/eds/eds.go
  share/eds/eds_test.go
  share/eds/testdata/example-root.json
  share/eds/testdata/example.car
Labels: area:shares, kind:feature

#1255 fix: restricting PFD metrics to successful PFDs
  state/core_access.go
Labels: area:rpc, kind:bug-fix

#1253 chore: gen less acounts to reduce test execution times
  nodebuilder/tests/swamp/swamp.go
Labels: kind:miscellaneous

#1257 chore(share/ipld): remove dead code
  share/ipld/get.go
Labels: kind:miscellaneous

#1263 refactor(core/fetcher): Improve error messages for fetcher methods
  core/fetcher.go
Labels: area:core_and_app, kind:miscellaneous

#1168 refactor(params): Moving params to nodebuilder and adding config
  cmd/cel-key/node_types.go
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
  cmd/env.go
  cmd/flags_node.go
  cmd/start.go
  das/daser_test.go
  fraud/service.go
  header/p2p/exchange.go
  nodebuilder/header/config.go
  nodebuilder/header/header.go
  nodebuilder/header/module.go
  nodebuilder/init.go
  nodebuilder/module.go
  nodebuilder/node.go
  nodebuilder/node_bridge_test.go
  nodebuilder/node_light_test.go
  nodebuilder/p2p/bitswap.go
  nodebuilder/p2p/bootstrap.go
  nodebuilder/p2p/flags.go
  nodebuilder/p2p/genesis.go
  nodebuilder/p2p/host.go
  nodebuilder/p2p/misc.go
  nodebuilder/p2p/network.go
  nodebuilder/p2p/routing.go
  nodebuilder/settings.go
  nodebuilder/state/keyring.go
  nodebuilder/testing.go
  nodebuilder/tests/swamp/swamp.go
  params/default.go
Labels: area:node, kind:improvement

#1268 fix: removing protocolIDs from global namespace in p2p and fraud
  das/daser_test.go
  fraud/requester.go
  fraud/service.go
  fraud/service_test.go
  fraud/sync.go
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/server.go
  nodebuilder/fraud/fraud.go
  nodebuilder/header/header.go
  nodebuilder/header/module.go
Labels: area:networking, kind:improvement

#1270 refactor(nodebuilder): Allow custom networks to work over already-initialised store
  nodebuilder/init.go
Labels: area:node, kind:improvement

#1272 refactor(nodebuilder/header): Clarify error for init store failure
  nodebuilder/header/header.go
Labels: area:header, kind:miscellaneous

#1175 feat(`api/rpc`): OpenRPC scaffolding, migrating OpenAPI gateway to `api/gateway`
  api/gateway/availability.go
  api/gateway/config.go
  api/gateway/das.go
  api/gateway/endpoints.go
  api/gateway/handler.go
  api/gateway/header.go
  api/gateway/middleware.go
  api/gateway/server.go
  api/gateway/server_test.go
  api/gateway/share.go
  api/gateway/state.go
  api/gateway/util.go
  api/rpc/server.go
  go.mod
  go.sum
  nodebuilder/config.go
  nodebuilder/node.go
  nodebuilder/rpc/config.go
  nodebuilder/rpc/flags.go
  nodebuilder/rpc/module.go
  nodebuilder/rpc/rpc.go
Labels: area:rpc, kind:feature

#1197 feat(blocksync): Benchmarks for `ReadEDS` and `WriteEDS`
  share/eds/eds_test.go
  share/test_helpers.go
Labels: area:shares, kind:improvement

#1256 feat(ipld): integration test for namespace hasher
  share/availability/full/reconstruction_test.go
  share/availability/full/testing.go
  share/availability/light/testing.go
  share/availability/test/corrupt_data.go
  share/availability/test/testing.go
  share/ipld/corrupted_data_test.go
Labels: area:ipld, kind:improvement

#1277 add semver tags to docker image builds
  .github/workflows/docker-build.yml
Labels: ci:docker, kind:improvement

#1241 refactor(share): move bad encoding fraud proof to share pkg
  das/daser.go
  fraud/bad_encoding_test.go
  fraud/pb/proof.pb.go
  fraud/pb/proof.proto
  fraud/service_test.go
  fraud/testing.go
  share/eds/byzantine/bad_encoding.go
  share/eds/byzantine/byzantine.go
  share/eds/byzantine/pb/share.pb.go
  share/eds/byzantine/pb/share.proto
  share/eds/byzantine/share_proof.go
  share/eds/byzantine/share_proof_test.go
  share/eds/retriever.go
  share/eds/retriever_test.go
  share/get.go
  share/get_test.go
  share/pb/share.proto
  share/share.go
Labels: area:shares, kind:improvement

#1281 Makefile: update go-acc version due to errors and new release
  Makefile
Labels: kind:dependencies

#1225 refactor(daser): use functional options pattern to configure daser
  das/coordinator.go
  das/coordinator_test.go
  das/daser.go
  das/daser_test.go
  das/options.go
  das/state.go
  nodebuilder/config.go
  nodebuilder/das/config.go
  nodebuilder/das/daser.go
  nodebuilder/das/module.go
  nodebuilder/das/opts.go
  nodebuilder/module.go
  nodebuilder/settings.go
Labels: area:config, kind:feature, kind:improvement, area:das

#1199 feat(gateway): reenabling gateway, adding flag to enable
  api/gateway/server.go
  api/gateway/server_test.go
  api/rpc/server.go
  cmd/celestia/bridge.go
  cmd/celestia/full.go
  cmd/celestia/light.go
  nodebuilder/config.go
  nodebuilder/gateway/config.go
  nodebuilder/gateway/flags.go
  nodebuilder/gateway/gateway.go
  nodebuilder/gateway/module.go
  nodebuilder/module.go
  nodebuilder/node.go
Labels: area:rpc, kind:feature

#1284 chore(nodebuilder/p2p): Update to new arabica chain-id
  nodebuilder/p2p/genesis.go
  nodebuilder/p2p/network.go
Labels: area:p2p, kind:breaking

#1297 refactor(share/ipld): Use `NamespaceSize` var for consistency
  share/ipld/nmt.go
Labels: area:shares, area:ipld, kind:miscellaneous
