Repository celestiaorg/celestia-node, pull requests merged in 2022-07, with the labels that each got.

#802 service/rpc: Add `/data_available` endpoint
  node/rpc_test.go
  service/rpc/availability.go
  service/rpc/endpoints.go
  service/share/cache_availability.go
  service/share/cache_availability_test.go
  service/share/full_availability.go
  service/share/interface.go
  service/share/light_availability.go
  service/share/testing.go
Labels: area:rpc, kind:feature, area:das

#850 cmd/celestia: changing randomness seed
  cmd/celestia/main.go
Labels: kind:improvement

#851 fraud: update rsmt2d to change isRow->Axis
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/pb/proof.pb.go
  fraud/pb/proof.proto
  ipld/retriever_byzantine.go
Labels: area:shares, kind:dependencies, kind:improvement

#886 Add CI check for go mod tidy.
  go.sum
Labels: ci:actions, kind:improvement

#769 Add install target in Makefile, move old behavior to go-install
  Makefile
  README.md
Labels: admin, kind:improvement

#890 Unify Go CI.
  .github/workflows/docker-build.yml
  .github/workflows/go-ci.yml
  .github/workflows/go-mod-tidy.yml
  .github/workflows/lint.yml
Labels: ci:actions, kind:improvement

#909 node: Fix godoc for two methods on Config
  node/config.go
Labels: docs:godocs, kind:miscellaneous

#834 fraud: implement fraud store
  das/daser_test.go
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/interface.go
  fraud/proof.go
  fraud/service.go
  fraud/service_test.go
  fraud/store.go
  fraud/store_test.go
  fraud/subscription.go
  fraud/testing.go
  node/services/service.go
  node/state/state.go
  node/tests/fraud_test.go
Labels: area:fraud, kind:feature

#848 das: Implement `DASState`
  das/daser.go
  das/daser_test.go
  das/state.go
  header/sync/sync.go
  node/components.go
  node/rpc/component.go
  node/rpc_test.go
  service/rpc/das.go
  service/rpc/endpoints.go
  service/rpc/handler.go
  service/share/testing.go
Labels: kind:feature, area:das

#915 docs: Add Go CI badge
  README.md
Labels: kind:miscellaneous

#910 cmd | node: Refactor core flags
  cmd/flags_core.go
  core/client.go
  core/testing.go
  node/components.go
  node/config_opts.go
  node/core/core.go
  node/state/core.go
  node/state/state.go
  node/testing.go
  node/tests/swamp/swamp.go
  service/state/core_access.go
Labels: area:config, area:node, kind:breaking

#913 feat(node/p2p): enable QUIC by default with the config
  node/p2p/p2p.go
Labels: area:node, area:p2p, kind:feature

#924 fix: change applied availability for bridge node
  node/components.go
Labels: area:node, area:p2p, kind:bug-fix

#891 node: providing separated CacheAvailability to DASer and ShareService
  go.mod
  node/components.go
  node/services/service.go
Labels: area:node, kind:improvement

#932 cmd: Trim trailing slash on given `--core.ip` addr
  cmd/flags_core.go
Labels: area:config, kind:miscellaneous

#927 deps: replacing blake2b implementation with native /x/crypto
  go.mod
  go.sum
  header/p2p/subscriber.go
  node/p2p/pubsub.go
Labels: kind:dependencies

#930 share/discovery: make constants configurable
  node/components.go
  node/config_opts.go
  node/services/config.go
  node/services/service.go
  node/tests/p2p_test.go
  service/share/discovery.go
  service/share/full_availability.go
  service/share/light_availability.go
  service/share/testing.go
Labels: area:config, area:p2p, area:networking, kind:miscellaneous

#926 docs/adr: Update p2p disc ADR to include bridge node details
  docs/adr/adr-008-p2p-discovery.md
Labels: area:p2p, docs:adr, kind:miscellaneous

#945 header: move doc to where it belongs
  header/doc.go
Labels: area:header, kind:miscellaneous

#911 service/state: Implement balance verification against `AppHash`
  docs/adr/adr-004-state-interaction.md
  go.mod
  go.sum
  node/components.go
  node/state/core.go
  node/state/state.go
  service/rpc/endpoints.go
  service/rpc/state.go
  service/state/core_access.go
  service/state/helpers.go
  service/state/interface.go
  service/state/service.go
Labels: area:state, area:core_and_app, kind:feature

#892 share: handle disconnects of discovered peers
  logs/logs.go
  node/settings.go
  node/tests/p2p_test.go
  node/tests/reconstruct_test.go
  service/share/backoff.go
  service/share/backoff_test.go
  service/share/discovery.go
  service/share/full_availability.go
  service/share/light_availability.go
  service/share/set.go
Labels: area:p2p, area:networking, kind:improvement

#948 Add GitHub CI check for Markdownlint
  .github/workflows/markdown-lint.yml
  .markdownlint.yaml
  CONTRIBUTING.md
  README.md
  docs/adr/README.md
  docs/adr/adr-001-predevnet-celestia-node.md
  docs/adr/adr-002-predevnet-core-to-full-communication.md
  docs/adr/adr-003-march2022-testnet.md
  docs/adr/adr-004-state-interaction.md
  docs/adr/adr-006-fraud-service.md
  docs/adr/adr-007-incentivized-testnet.md
  docs/adr/adr-008-p2p-discovery.md
  docs/adr/adr-template.md
  node/tests/README.md
Labels: ci:actions, github_actions, kind:improvement

#953 header/p2p: set ValidatorData field for header message
  header/p2p/subscriber.go
  header/p2p/subscription.go
  header/p2p/subscription_test.go
Labels: area:header, area:p2p, kind:improvement

#957 header/sync: Unexport unintentionally exported field in `ranges`
  header/sync/ranges.go
  header/sync/sync.go
Labels: area:header, kind:miscellaneous

#938 fraud: rework unmarshaler registration
  das/daser_test.go
  docs/adr/adr-006-fraud-service.md
  fraud/bad_encoding.go
  fraud/helpers.go
  fraud/interface.go
  fraud/proof.go
  fraud/registry.go
  fraud/service.go
  fraud/service_test.go
  fraud/store.go
  fraud/store_test.go
  fraud/subscription.go
  fraud/testing.go
  fraud/topic.go
  node/services/service.go
Labels: area:fraud, kind:improvement
