Repository celestiaorg/celestia-node, pull requests merged in 2022-11, with the labels that each got.

#1195 feat(rpc): Add client wrapper
  api/rpc/client/client.go
  api/rpc_test.go
  das/daser.go
  go.mod
  nodebuilder/das/mocks/api.go
  nodebuilder/das/module.go
  nodebuilder/das/service.go
  nodebuilder/fraud/mocks/api.go
  nodebuilder/fraud/service.go
  nodebuilder/header/mocks/api.go
  nodebuilder/header/service.go
  nodebuilder/rpc/module.go
  nodebuilder/rpc/rpc.go
  nodebuilder/share/mocks/api.go
  nodebuilder/share/service.go
  nodebuilder/state/mocks/api.go
  nodebuilder/state/service.go
  nodebuilder/testing.go
Labels: kind:feature, area:api

#1295 fix(das): Only debug log sampled header if it was actually successful
  das/worker.go
Labels: kind:miscellaneous, area:das

#1308 feat(rpc): adding daser stub for friendly API error
  nodebuilder/das/daser.go
  nodebuilder/das/mocks/api.go
  nodebuilder/das/module.go
  nodebuilder/fraud/mocks/api.go
  nodebuilder/header/mocks/api.go
  nodebuilder/node.go
  nodebuilder/node_bridge_test.go
  nodebuilder/rpc/module.go
  nodebuilder/rpc/rpc.go
  nodebuilder/share/mocks/api.go
  nodebuilder/state/mocks/api.go
Labels: area:rpc, kind:improvement

#1300 chore: bump celestia app v0.9.0
  go.mod
  go.sum
  nodebuilder/tests/fraud_test.go
  nodebuilder/tests/swamp/config.go
  share/add.go
  share/eds/byzantine/bad_encoding.go
  share/eds/byzantine/share_proof.go
  share/eds/eds.go
  share/eds/retriever.go
  share/eds/retriever_test.go
  share/eds/testdata/example-root.json
  share/eds/testdata/example.car
  share/get_test.go
  share/ipld/nmt_adder.go
  share/test_helpers.go
Labels: kind:dependencies, T:dependencies

#1294 feat(share/availability/light): Add some debug logs for sampling
  share/availability/light/availability.go
Labels: area:shares, kind:miscellaneous

#1314 fix(gateway): switch to separate Listen/Serve
  api/gateway/server.go
  api/rpc/server.go
  api/rpc_test.go
  nodebuilder/testing.go
Labels: kind:bug-fix, area:gateway

#1321 feat(api/gateway): Implement context cancellation middleware
  api/gateway/middleware.go
  api/gateway/server.go
  api/gateway/server_test.go
Labels: kind:improvement, area:api, area:gateway

#1315 feat(.github): add labels on issues workflow
  .github/workflows/issue-labels.yml
Labels: ci:actions, github_actions, kind:miscellaneous

#1324 refactor(nodebuilder): Logger names in subpackages to `constructor/<subpkg>`
  nodebuilder/fraud/module.go
  nodebuilder/gateway/flags.go
  nodebuilder/gateway/module.go
  nodebuilder/header/module.go
  nodebuilder/p2p/module.go
  nodebuilder/p2p/routing.go
  nodebuilder/state/module.go
Labels: area:node, kind:miscellaneous

#1335 fix(.github): Point at correct action
  .github/workflows/issue-labels.yml
Labels: ci:actions, kind:miscellaneous

#1346 fix(.github/workflows): Implement working label automation
  .github/workflows/issue-label-automation.yml
  .github/workflows/issue-labels.yml
Labels: ci:actions, kind:miscellaneous

#1318 improvement(header/server): implement timeout for GetRangeByHeight request
  header/p2p/server.go
  header/p2p/server_test.go
Labels: area:header, kind:improvement

#1342 fix(share): incorrect TestGetSharesByNamespace test
  share/get_test.go
Labels: area:shares, kind:bug-fix

#1350 fix(nodebuilder): Use test node for tests instead of New
  nodebuilder/node_bridge_test.go
Labels: area:node, kind:miscellaneous

#1319 improvement(header/p2p): get bestHead if timeout is reached
  header/p2p/exchange.go
Labels: area:header, area:p2p, kind:improvement

#1173 refactor(ipld): use Set/GetCell API from rstm2d
  share/eds/retriever.go
  share/eds/retriever_quadrant.go
Labels: area:ipld, kind:improvement

#506 docs(adr): Public API
  docs/adr/adr-009-public-api.md
Labels: docs:adr, no_changelog, kind:miscellaneous

#1364 fix(header): Extend `ValidateBasic` on `ExtendedHeader` to include data root check
  core/testing.go
  header/core/exchange_test.go
  header/core/listener_test.go
  header/header.go
  header/header_test.go
  header/testing.go
Labels: area:header, kind:bug-fix

#1366 fix(das): Correct `WithMetrics` fx Invocation
  nodebuilder/das/opts.go
Labels: kind:bug-fix

#1357 refactor(nodebuilder/p2p): Allow specifying network alias with `--p2p.network` flag
  nodebuilder/p2p/flags.go
  nodebuilder/p2p/flags_test.go
  nodebuilder/p2p/network.go
Labels: area:config, area:p2p, kind:improvement

#1368 fix(coreaccessor): pfd submission nil check
  state/core_access.go
Labels: area:state, kind:bug-fix

#1354 fix(eds/byzantine): trim `NMTWrapper`'s namespace during BEFP validation
  share/eds/byzantine/bad_encoding.go
  share/eds/byzantine/bad_encoding_test.go
Labels: area:shares, kind:bug-fix

#1338 chore!: bump celestia-app to v0.10.0-rc1
  go.mod
  go.sum
  share/eds/byzantine/bad_encoding.go
  share/eds/testdata/example-root.json
  share/eds/testdata/example.car
  share/ipld/nmt_test.go
Labels: kind:dependencies, kind:breaking, kind:bug-fix

#1337 Update Docker image build pipelines
  .github/workflows/docker-build.yml
Labels: ci:docker, kind:improvement

#1370 chore!(nodebuilder/p2p): increment the chain-id for arabica
  nodebuilder/p2p/network.go
Labels: kind:breaking, area:params

#1371 chore!(nodebuilder/p2p): change genesis hash for upgraded arabica-2
  nodebuilder/p2p/genesis.go
Labels: kind:breaking, kind:miscellaneous

#1283 feat(rpc): tooling for openrpc spec autogeneration
  Makefile
  api/docgen/examples.go
  api/docgen/openrpc.go
  cmd/docgen/docgen.go
  go.mod
  go.sum
  nodebuilder/default_services.go
  nodebuilder/header/service.go
  nodebuilder/share/service.go
Labels: area:rpc, kind:feature

#1380 feat(das): make WaitCatchUp public
  das/daser.go
  das/daser_test.go
  das/state.go
Labels: kind:feature, area:das

#1378 fix: allowing hostnames in gateway/rpc addr field
  libs/utils/address.go
  libs/utils/address_test.go
  nodebuilder/core/config.go
  nodebuilder/gateway/config.go
  nodebuilder/rpc/config.go
Labels: area:rpc, kind:improvement

#1383 feat(module/das): add WaitCatchUp method to the module
  nodebuilder/das/daser.go
  nodebuilder/das/module_test.go
  nodebuilder/das/service.go
  nodebuilder/node_bridge_test.go
Labels: area:node, kind:feature

#1341 tests(nodebuilder): sync and das over non-empty blocks
  nodebuilder/tests/sync_test.go
Labels: swamp, kind:improvement

#1390 fix: pointing `make openrpc-gen` to the correct cmd
  Makefile
Labels: area:repository, kind:bug-fix

#1285 feat(nodebuilder/p2p): Implement `Module`
  api/rpc/client/client.go
  docs/adr/adr-009-public-api.md
  go.mod
  nodebuilder/p2p/flags.go
  nodebuilder/p2p/host.go
  nodebuilder/p2p/module.go
  nodebuilder/p2p/p2p.go
  nodebuilder/p2p/p2p_test.go
  nodebuilder/rpc/rpc.go
  nodebuilder/tests/swamp/swamp.go
Labels: area:rpc, kind:feature, area:api

#1301 refactor: changing `nodebuilder/<pkg>/service.go` to `<pkg>.go`
  api/docgen/openrpc.go
  nodebuilder/core/constructors.go
  nodebuilder/das/constructors.go
  nodebuilder/das/das.go
  nodebuilder/gateway/constructors.go
  nodebuilder/header/constructors.go
  nodebuilder/header/header.go
  nodebuilder/header/service.go
  nodebuilder/rpc/constructors.go
  nodebuilder/share/constructors.go
  nodebuilder/share/module.go
  nodebuilder/share/service.go
  nodebuilder/share/share.go
  nodebuilder/state/state.go
  share/empty.go
Labels: area:rpc, kind:improvement

#1388 improvement(header/store): make all global variables configurable
  header/store/height_indexer.go
  header/store/options.go
  header/store/store.go
  header/store/store_test.go
  nodebuilder/header/config.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: area:header, kind:improvement

#1373 fix(nodebuilder/das): Skip config validation for bridge node
  go.mod
  go.sum
  nodebuilder/config.go
  nodebuilder/config_test.go
  nodebuilder/das/module.go
Labels: area:config, kind:bug-fix

#1393 Add `kind:docs` as an oprtion for required labels
  .github/workflows/labels.yml
Labels: kind:miscellaneous

#1206 improvement(header/p2p): parallelize GetRangeByHeight request
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/peer_stats.go
  header/p2p/peer_stats_test.go
  header/p2p/peer_tracker.go
  header/p2p/server_test.go
  header/p2p/session.go
  header/p2p/session_test.go
  nodebuilder/header/constructors.go
Labels: area:header, area:p2p, kind:improvement

#1339 feat(share): add get proof by namespace
  share/eds/byzantine/share_proof.go
  share/get.go
  share/get_test.go
  share/ipld/get.go
  share/ipld/nmt.go
  share/ipld/proof.go
  share/service/service.go
Labels: area:shares, kind:feature

#1405 improvement(header/p2p): unify sendMessage method to request headers
  header/p2p/exchange.go
  header/p2p/helpers.go
  header/p2p/session.go
Labels: area:header, area:p2p, kind:improvement

#1305 feat(header/p2p): implement GetVerifiedRangeByHeight
  das/daser_test.go
  header/core/exchange.go
  header/interface.go
  header/local/exchange.go
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/session.go
  header/store/store.go
  header/sync/sync_test.go
Labels: area:header, area:p2p, kind:feature

#1398 feat(header/p2p): add functional params for header/p2p package
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/options.go
  header/p2p/server.go
  header/p2p/server_test.go
  header/p2p/session.go
  nodebuilder/config.go
  nodebuilder/header/config.go
  nodebuilder/header/constructors.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: area:header, kind:feature
