Repository celestiaorg/celestia-node, pull requests merged in 2023-03, with the labels that each got.

#1843 chore: bump app to official v0.12.0
  go.mod
  go.sum
Labels: kind:dependencies

#1818 bugfix(libs/header/exchange): do not request an empty range
  libs/header/p2p/exchange.go
  libs/header/sync/sync.go
  libs/header/sync/sync_test.go
Labels: area:header, kind:bug-fix

#1850 fix(libs/header/syncer): fix bounds during syncing
  libs/header/sync/sync.go
  libs/header/sync/sync_test.go
Labels: kind:bug-fix, libs:header

#1849 feat(modp2p): Make IP Colocation configurable for pubsub parameters
  nodebuilder/p2p/config.go
  nodebuilder/p2p/pubsub.go
Labels: enhancement, area:config, area:p2p, kind:improvement

#1777 refactor(libhead): unify VerifyAdjacent and VerifyNonAdjacent into Verify
  core/exchange.go
  core/header_test.go
  das/daser_test.go
  fraud/testing.go
  header/headertest/serde_test.go
  header/headertest/testing.go
  header/headertest/verify_test.go
  header/verify.go
  headertest/verify_test.go
  libs/header/errors.go
  libs/header/header.go
  libs/header/p2p/exchange_test.go
  libs/header/p2p/session.go
  libs/header/store/store.go
  libs/header/sync/sync_head.go
  libs/header/sync/sync_test.go
  libs/header/test/testing.go
  nodebuilder/testing.go
  nodebuilder/tests/fraud_test.go
  share/eds/retriever_test.go
Labels: area:header, kind:improvement

#1858 fix(share/test): TestShareAvailable_DisconnectedFullNodes wait before exit
  share/availability/full/reconstruction_test.go
Labels: area:shares, kind:bug-fix

#1855 fix(share/ipld): use parent context for ipld session instead of request context
  share/getters/ipld.go
Labels: area:shares, kind:bug-fix

#1806 lint(everything): sort imports
  .golangci.yml
  Makefile
  api/gateway/share_test.go
  api/gateway/state.go
  api/rpc_test.go
  core/client.go
  core/eds.go
  core/header_test.go
  das/daser.go
  das/daser_test.go
  das/state_test.go
  das/worker.go
  fraud/testing.go
  header/headertest/verify_test.go
  libs/header/p2p/exchange_test.go
  nodebuilder/node_test.go
  nodebuilder/p2p/opts.go
  nodebuilder/share/constructors.go
  nodebuilder/share/share_test.go
  nodebuilder/state/core.go
  nodebuilder/state/state.go
  nodebuilder/tests/fraud_test.go
  nodebuilder/tests/reconstruct_test.go
  share/availability/cache/availability.go
  share/availability/full/availability.go
  share/availability/light/availability_test.go
  share/availability/test/testing.go
  share/eds/byzantine/bad_encoding.go
  share/eds/byzantine/bad_encoding_test.go
  share/eds/byzantine/byzantine.go
  share/eds/byzantine/share_proof.go
  share/eds/byzantine/share_proof_test.go
  share/eds/retriever.go
  share/eds/retriever_test.go
  share/eds/store_test.go
  share/get.go
  share/getter.go
  share/getters/ipld.go
  share/getters/shrex.go
  share/getters/shrex_test.go
  share/getters/store.go
  share/getters/tee.go
  share/getters/testing.go
  share/getters/utils.go
  share/p2p/middleware.go
  share/p2p/peers/manager.go
  share/p2p/peers/manager_test.go
  share/p2p/shrexeds/client.go
  share/p2p/shrexeds/exchange_test.go
  share/p2p/shrexnd/client.go
  share/p2p/shrexsub/pubsub.go
  state/integration_test.go
Labels: kind:miscellaneous

#1868 fix(Makefile): exit if an error appears
  Makefile
Labels: kind:bug-fix

#1871 bugfix(libs/header/p2p): fix range validation in session
  libs/header/p2p/session.go
  libs/header/p2p/session_test.go
Labels: kind:bug-fix, libs:header

#1872 misc(github/workflows): add refactoring label and remove improvement
  .github/workflows/labels.yml
Labels: github_actions, kind:miscellaneous

#1869 Extend label automation to add external label
  .github/workflows/issue-label-automation.yml
Labels: github_actions, kind:miscellaneous

#1877 .github: add labels to PRs
  .github/workflows/issue-label-automation.yml
Labels: github_actions, kind:miscellaneous

#1878 fix(libs/header/sync): resolve head synchronization issue
  libs/header/sync/sync_head.go
Labels: area:header, kind:bug-fix, libs:header

#1873 fix(modp2p): change the timecache strategy for gossip sub
  nodebuilder/p2p/pubsub.go
Labels: area:p2p, kind:bug-fix

#1749 refactoring(header/syncer): request verified range of headers
  libs/header/local/exchange.go
  libs/header/p2p/exchange.go
  libs/header/p2p/session.go
  libs/header/sync/ranges.go
  libs/header/sync/sync.go
  libs/header/sync/sync_test.go
Labels: area:header, kind:refactoring

#1831 refactoring!(libs/header): simplify return params in store.Append
  libs/header/interface.go
  libs/header/mocks/store.go
  libs/header/store/init_test.go
  libs/header/store/store.go
  libs/header/store/store_test.go
  libs/header/sync/sync.go
  libs/header/sync/sync_head.go
  libs/header/sync/sync_test.go
Labels: kind:breaking, libs:header, kind:refactoring

#1879 fix(cmd/cel-key): Ensure keyring-backend is actually `test` by default
  cmd/cel-key/main.go
Labels: kind:bug-fix

#1883 fix(header/p2p): return on context to avoid ugly errors on stop
  libs/header/p2p/session.go
Labels: area:header, kind:bug-fix, libs:header

#1887 LICENSE: update copyright year and owner
  NOTICE
Labels: kind:docs

#1892 fix(header/sync): fix possible out of bounds panic
  libs/header/sync/ranges.go
  libs/header/sync/ranges_test.go
  libs/header/sync/sync.go
Labels: kind:bug-fix, libs:header

#1893 chore(Makefile): shush sort-imports
  Makefile
Labels: kind:miscellaneous

#1894 Shorten labels to match convential prefixes
  .github/workflows/labels.yml
Labels: kind:ci

#1830 refactoring(libs/header): cleanup config params
  libs/header/interface.go
  libs/header/p2p/exchange.go
  libs/header/p2p/exchange_test.go
  libs/header/p2p/options.go
  libs/header/p2p/peer_tracker.go
  libs/header/p2p/peer_tracker_test.go
  libs/header/p2p/server.go
  libs/header/sync/options.go
  libs/header/sync/sync.go
  libs/header/sync/sync_test.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: libs:header, kind:refactor

#1897 fix(share): Fix empty EDS / empty root initialisation
  core/listener_test.go
  share/empty.go
Labels: area:shares, kind:fix

#1884 feat(share/shrex): collect errors from shrex getter
  share/getters/shrex.go
  share/getters/utils.go
  share/getters/utils_test.go
Labels: kind:feat

#1904 feat(nodebuilder/p2p): Add `blockspacerace`
  nodebuilder/p2p/bootstrap.go
  nodebuilder/p2p/genesis.go
  nodebuilder/p2p/network.go
Labels: area:p2p, kind:feat

#1906 fix(nodebuilder): Also invoke header store head metrics
  libs/header/metrics.go
  libs/header/p2p/metrics.go
  nodebuilder/header/opts.go
  nodebuilder/settings.go
Labels: kind:fix, area:metrics, libs:header

#1910 deps: update libp2p pubsub
  go.mod
  go.sum
Labels: kind:deps

#1908 fix(nodebuilder): Ensure new generated account is recoverable via mnemonic
  nodebuilder/init.go
  nodebuilder/init_test.go
Labels: kind:fix

#1909 misc(core): Add debug log to `CoreListener`
  core/listener.go
Labels: area:core_and_app, kind:misc

#1911 fix(cmd): repo should be closed on defer
  cmd/start.go
Labels: kind:fix

#1912 refactor(nodebuilder/das): update default DASer setting
  nodebuilder/config.go
  nodebuilder/das/config.go
  nodebuilder/das/module_test.go
Labels: area:node, area:das, kind:refactor

#1881 refactor(nodebuilder/p2p)!: Configure bootstrapper from env instead of config
  README.md
  nodebuilder/p2p/bootstrap.go
  nodebuilder/p2p/config.go
  nodebuilder/p2p/pubsub.go
  nodebuilder/p2p/routing.go
  nodebuilder/tests/p2p_test.go
  nodebuilder/tests/reconstruct_test.go
Labels: kind:refactor, external

#1889 refactor(header/sync): cleanup sync head detection logic
  libs/header/p2p/session.go
  libs/header/sync/metrics.go
  libs/header/sync/ranges.go
  libs/header/sync/ranges_test.go
  libs/header/sync/sync.go
  libs/header/sync/sync_getter.go
  libs/header/sync/sync_getter_test.go
  libs/header/sync/sync_head.go
  libs/header/sync/sync_store.go
  libs/header/sync/sync_store_test.go
  libs/header/sync/sync_test.go
Labels: libs:header, kind:refactor

#1916 refactor(fraud): extract fraud package to libs
  api/docgen/examples.go
  das/daser.go
  das/daser_test.go
  libs/fraud/gossip_score.go
  libs/fraud/helpers.go
  libs/fraud/interface.go
  libs/fraud/metrics.go
  libs/fraud/pb/proof.pb.go
  libs/fraud/pb/proof.proto
  libs/fraud/proof.go
  libs/fraud/registry.go
  libs/fraud/requester.go
  libs/fraud/service.go
  libs/fraud/service_test.go
  libs/fraud/store.go
  libs/fraud/store_test.go
  libs/fraud/subscription.go
  libs/fraud/sync.go
  libs/fraud/testing.go
  nodebuilder/das/constructors.go
  nodebuilder/das/module.go
  nodebuilder/fraud/constructors.go
  nodebuilder/fraud/fraud.go
  nodebuilder/fraud/lifecycle.go
  nodebuilder/fraud/mocks/api.go
  nodebuilder/fraud/module.go
  nodebuilder/fraud/service.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
  nodebuilder/p2p/pubsub.go
  nodebuilder/settings.go
  nodebuilder/state/module.go
  nodebuilder/tests/fraud_test.go
  share/eds/byzantine/bad_encoding.go
  share/eds/retriever_test.go
Labels: area:fraud, kind:refactor

#1920 fix(nodebuilder): fsStore check for nil Datastore
  nodebuilder/store.go
Labels: kind:fix

#1922 fix(header/sync): add drift to recency detection
  libs/header/sync/sync_head.go
Labels: kind:fix, libs:header

#1923 refactor(libs/header/p2p): extend logging in session
  libs/header/p2p/session.go
Labels: libs:header, kind:refactor

#1936 fix: only use gateway flag value when the value is changed
  nodebuilder/gateway/flags.go
Labels: kind:fix, area:gateway

#1937 chore(libs/header/p2p): change log level in case of ErrNotFound
  libs/header/p2p/session.go
Labels: libs:header, kind:chore

#1950 fix(share): enabling discovery on light nodes
  nodebuilder/share/module.go
Labels: area:shares, kind:fix

#1952 fix(core): Only assume empty square if reported square size is 1 *and* there are no txs
  core/eds.go
  core/eds_test.go
  core/header_test.go
  header/header.go
Labels: area:core_and_app, kind:fix

#1948 feat(core/listener): listen for EventDataSignedBlock
  core/client_test.go
  core/exchange.go
  core/fetcher.go
  core/fetcher_test.go
  core/header_test.go
  core/listener.go
  header/header.go
  header/headertest/testing.go
  nodebuilder/fraud/mocks/api.go
Labels: area:core_and_app, kind:feat

#1954 fix(nodebuilder/p2p): all full and bridge nodes use `dht.ModeServer`
  nodebuilder/p2p/routing.go
Labels: area:p2p, kind:fix

#1956 deps: bump libp2p
  go.mod
  go.sum
Labels: kind:deps

#1943 feat(nodebuilder/header): Add `Subscribe` method implementation
  docs/adr/adr-009-public-api.md
  nodebuilder/header/header.go
  nodebuilder/header/mocks/api.go
  nodebuilder/header/service.go
Labels: kind:feat, area:api, libs:header

#1901 feat(nodebuilder/node | api): Version the API
  api/docgen/openrpc.go
  nodebuilder/node/admin.go
Labels: kind:misc, area:api

#1964 perf(header): make HeaderSub msgid to be header hash
  header/serde.go
Labels: area:header, kind:misc

#1967 chore(header): get back the important notice about msg id
  header/serde.go
Labels: kind:chore

#1913 feat: copy container security improvements from celestia-app
  .github/dependabot.yml
  Dockerfile
  cmd/flags_node.go
  docker/entrypoint.sh
Labels: ci:docker, kind:break!, kind:ci

#1961 chore(core): Add logging
  core/exchange.go
  core/listener.go
  header/header.go
Labels: area:core_and_app, kind:misc

#1945 fix(shrex/peer-manager)!: hash validation on subjective node start
  core/listener.go
  core/listener_test.go
  das/coordinator_test.go
  das/worker.go
  nodebuilder/share/module.go
  share/p2p/peers/manager.go
  share/p2p/peers/manager_test.go
  share/p2p/shrexsub/pb/notification.pb.go
  share/p2p/shrexsub/pb/notification.proto
  share/p2p/shrexsub/pubsub.go
  share/p2p/shrexsub/pubsub_test.go
  share/p2p/shrexsub/subscription.go
Labels: area:shares, area:p2p, kind:fix

#1962 feat(core/exchange): parallelise GetRangeByHeight request
  core/exchange.go
Labels: area:core_and_app, kind:feat

#1976 fix(nodebuilder/share): Invoke pubsub for shrex
  nodebuilder/share/module.go
Labels: area:shares, kind:fix

#1980 deps: bump go-header
  go.mod
  go.sum
Labels: kind:deps

#1979 fix(shrex/peer-manager): Temporarily disable blacklisting in peer manager
  share/p2p/peers/manager.go
  share/p2p/peers/manager_test.go
  share/p2p/peers/options.go
Labels: area:shares, kind:fix

#1981 fix(shrex/peer-manager): put on peer cooldown for peers from discovery
  share/p2p/peers/manager.go
Labels: area:shares, area:p2p, kind:fix

#1984 fix(core/exchange): handle nil height pointer in log
  core/exchange.go
Labels: area:core_and_app, kind:fix

#1970 chore(.github/workflows): Bump lint version
  .github/workflows/go-ci.yml
  api/gateway/server_test.go
  cmd/celestia/util.go
  das/daser_test.go
  das/metrics.go
  header/header.go
  header/headertest/testing.go
  nodebuilder/header/flags.go
  nodebuilder/node/admin.go
  nodebuilder/node_test.go
  share/availability/test/corrupt_data.go
  share/eds/adapters_test.go
  share/getters/shrex.go
  share/getters/testing.go
  share/ipld/nmt.go
  share/ipld/test_helpers.go
  share/p2p/peers/manager.go
  share/p2p/peers/manager_test.go
  share/test_helpers.go
  state/core_access.go
Labels: kind:chore

#1988 fix: changing entrypoint path to /opt
  Dockerfile
Labels: ci:docker, kind:fix

#1991 fix!(gateway): removing undocumented gateway writes
  api/gateway/endpoints.go
  api/gateway/state.go
Labels: kind:break!, kind:fix, area:gateway

#1994 fix(edsstore): close files after Put and Get
  share/eds/store.go
Labels: area:shares, kind:fix

#1921 (api/docgen): Example types
  api/docgen/exampledata/extendedHeader.json
  api/docgen/exampledata/resourceManagerStats.json
  api/docgen/exampledata/samplingStats.json
  api/docgen/exampledata/txResponse.json
  api/docgen/examples.go
  api/docgen/openrpc.go
  api/rpc/client/client.go
  cmd/docgen/openrpc.go
  nodebuilder/node/admin.go
Labels: kind:feat, area:api

#1974 feat(cmd): RPC over CLI
  cmd/celestia/main.go
  cmd/celestia/rpc.go
Labels: kind:feat, area:api
