Repository celestiaorg/celestia-node, pull requests merged in 2023-01, with the labels that each got.

#1553 chore(modheader): don't ignore Syncer error on start
  nodebuilder/header/module.go
Labels: area:node, kind:improvement

#1552 fix(header/p2p): preconnect trusted peers on header-ex start
  header/p2p/exchange.go
  header/p2p/peer_tracker.go
Labels: area:header, kind:bug-fix

#1546 fix(ipld): Make namespaceHasher fully implement hash.Hash and update go-multihash
  go.mod
  go.sum
  nodebuilder/node/mocks/api.go
  share/ipld/namespace_hasher.go
  share/ipld/namespace_hasher_test.go
Labels: area:ipld, kind:dependencies, kind:bug-fix

#1545 fix(share): order proof nodes by depth before returning
  share/ipld/get.go
  share/ipld/proof.go
Labels: area:ipld, kind:bug-fix

#1560 fix: use udp/quic instead of tcp/quic in NoAnnounceAddress
  nodebuilder/p2p/config.go
Labels: kind:bug-fix

#1555 tests(swamp): correct fraud syncing test
  nodebuilder/tests/fraud_test.go
Labels: swamp, kind:improvement

#1554 fix(header): don't stop Subscriber in Syncer and remove Stop from interface
  header/interface.go
  header/sync/sync.go
Labels: area:header, kind:bug-fix

#1551 test(core|state|swamp): unify and refactor core/app testing utilities
  core/client_test.go
  core/fetcher_test.go
  core/testing.go
  core/testing_grpc.go
  header/core/exchange_test.go
  header/header_test.go
  nodebuilder/node_bridge_test.go
  nodebuilder/testing.go
  nodebuilder/tests/swamp/config.go
  nodebuilder/tests/swamp/swamp.go
  state/integration_test.go
Labels: area:core_and_app, testing, swamp, kind:improvement

#1561 feat(share/eds): Create a `blockservice.BlockGetter` adapter for `eds.Store`
  share/eds/adapters.go
  share/eds/adapters_test.go
Labels: area:shares, kind:feature

#1569 fix(header/p2p): fix crash in server
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/server.go
Labels: area:header, kind:bug-fix

#1570 Revert "fix(node/p2p)!: remove resource manager and it's API (#1500)"
  nodebuilder/p2p/host.go
  nodebuilder/p2p/mocks/api.go
  nodebuilder/p2p/module.go
  nodebuilder/p2p/p2p.go
  nodebuilder/p2p/p2p_test.go
Labels: kind:miscellaneous

#1544 feat(header|syncer)!: add params to syncer
  header/sync/options.go
  header/sync/sync.go
  header/sync/sync_head.go
  header/sync/sync_test.go
  header/verify.go
  nodebuilder/header/config.go
  nodebuilder/header/constructors.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: area:header, kind:feature

#1556 feat(swamp): preinit all swamp nodes with genesis header
  nodebuilder/tests/swamp/swamp.go
Labels: swamp, kind:improvement

#1518 feat!: `share.Getter` and `getters.IPLDGetter`
  api/gateway/share.go
  api/rpc_test.go
  das/daser_test.go
  docs/adr/adr-009-public-api.md
  nodebuilder/das/mocks/api.go
  nodebuilder/fraud/mocks/api.go
  nodebuilder/header/mocks/api.go
  nodebuilder/share/constructors.go
  nodebuilder/share/mocks/api.go
  nodebuilder/share/module.go
  nodebuilder/share/share.go
  nodebuilder/state/mocks/api.go
  share/availability/cache/availability_test.go
  share/availability/cache/testing.go
  share/availability/full/availability.go
  share/availability/full/availability_test.go
  share/availability/full/testing.go
  share/availability/light/availability.go
  share/availability/light/availability_test.go
  share/availability/light/testing.go
  share/availability/test/testing.go
  share/getter.go
  share/getters/ipld.go
  share/ipld/corrupted_data_test.go
  share/service/service.go
Labels: area:shares, kind:breaking

#1528 feat(share): `getters.StoreGetter`
  nodebuilder/das/mocks/api.go
  nodebuilder/fraud/mocks/api.go
  nodebuilder/header/mocks/api.go
  nodebuilder/share/mocks/api.go
  nodebuilder/state/mocks/api.go
  share/getters/getter_test.go
  share/getters/ipld.go
  share/getters/store.go
  share/getters/utils.go
Labels: area:shares, kind:feature

#1522 docker: Update entrypoint.sh for multiple networks
  docker/Dockerfile
  docker/entrypoint.sh
Labels: kind:miscellaneous

#1585 chore: updating rsmt2d to v0.8.0 and removing test skip
  api/rpc_test.go
  go.mod
  go.sum
Labels: area:repository, kind:dependencies

#1587 bugfix(header/p2p): handle long live context in head request
  header/p2p/exchange.go
Labels: area:header, kind:bug-fix

#1590 fix(cel-key): update flag name to --p2p.network
  cmd/cel-key/node_types.go
Labels: kind:docs

#1540 feat(share): `getters.TeeGetter`
  share/getters/getter_test.go
  share/getters/tee.go
Labels: area:shares, kind:feature

#1591 refactor(shrexeds): removing retry logic from client
  share/p2p/shrexeds/client.go
  share/p2p/shrexeds/exchange_test.go
Labels: area:shares, kind:improvement

#1605 fix(fraud): fix race by using correct peer id in log statement
  fraud/sync.go
Labels: area:fraud, kind:bug-fix

#1604 improvement(header/p2p): change store to getter inside headerEx server
  header/p2p/server.go
Labels: area:header, kind:improvement

#1580 share/sharexpush: decrease ttl for seen messages in pubsub
  share/p2p/shrexpush/pubsub.go
Labels: area:p2p, kind:improvement

#1588 improvement(header/p2p): Implement context deadline on requests to store inside server
  header/p2p/options.go
  header/p2p/server.go
  header/store/store.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: area:header, area:p2p, kind:improvement

#1608 chore(header/p2p): improve logging and error wrapping
  header/p2p/exchange.go
  header/p2p/helpers.go
Labels: kind:miscellaneous

#1589 feat(header/p2p): add traces to server
  header/p2p/server.go
Labels: area:header, kind:feature, area:metrics

#1603 fix(header/p2p): add peerScore decreasing in case of failed request
  header/p2p/exchange.go
  header/p2p/exchange_test.go
  header/p2p/options.go
  header/p2p/peer_stats.go
  header/p2p/peer_stats_test.go
  header/p2p/server.go
  header/p2p/session.go
  nodebuilder/header/module.go
  nodebuilder/header/module_test.go
Labels: area:header, area:p2p, kind:improvement

#1618 fix(header/p2p): fix error string
  header/p2p/options.go
Labels: area:header, kind:bug-fix

#1582 refactor!: naming PFD/PayForData to PayForBlob
  api/gateway/endpoints.go
  api/gateway/state.go
  docs/adr/adr-009-public-api.md
  nodebuilder/state/mocks/api.go
  nodebuilder/state/state.go
  state/core_access.go
  state/metrics.go
Labels: kind:breaking, area:api

#1619 chore(nodebuilder/p2p): Add Kaarina to arabica
  nodebuilder/p2p/bootstrap.go
Labels: area:p2p, kind:miscellaneous

#1609 feat(share/discovery): Add callback on peers set updates.
  share/availability/discovery/discovery.go
Labels: area:shares, kind:improvement

#1594 feat(share/eds): adding traces to edsstore, write/read eds, and getters
  libs/utils/traces.go
  share/eds/eds.go
  share/eds/store.go
  share/getters/ipld.go
  share/getters/store.go
  share/getters/tee.go
  share/getters/utils.go
Labels: area:shares, kind:improvement

#1615 improvement(das): Add timeout for sampling in DASer
  das/daser.go
  das/daser_test.go
  das/options.go
  nodebuilder/das/module.go
  share/availability.go
  share/availability/mocks/availability.go
Labels: kind:improvement, area:das

#1611 refactor(share/p2p): ironing out differences between shrex protocols
  share/getters/shrex_test.go
  share/p2p/errors.go
  share/p2p/shrexeds/client.go
  share/p2p/shrexeds/exchange_test.go
  share/p2p/shrexeds/pb/extended_data_square.pb.go
  share/p2p/shrexeds/pb/extended_data_square.proto
  share/p2p/shrexnd/client.go
  share/p2p/shrexnd/server.go
Labels: area:shares, kind:improvement

#1473 feat: implement broadcasting a data hash through eds-sub
  header/core/listener.go
  header/core/listener_test.go
  nodebuilder/core/module.go
  nodebuilder/share/module.go
  share/p2p/shrexsub/pubsub.go
  share/p2p/shrexsub/pubsub_test.go
  share/p2p/shrexsub/subscription.go
Labels: area:shares, area:p2p, kind:feature

#1631 fix(daser) replace catchUpDoneCh channel gracefuly
  das/state.go
Labels: kind:bug-fix, area:das

#1628 feat(share): implements sync CascadeGetter
  share/getter.go
  share/getters/cascade.go
  share/getters/cascade_test.go
  share/getters/testing.go
  share/getters/utils.go
  share/mocks/getter.go
Labels: area:shares, kind:feature

#1627 refactor(header): Extract `CoreExchange` and `CoreListener` out of the header root package
  core/exchange.go
  core/exchange_test.go
  core/listener.go
  core/listener_test.go
  das/daser_test.go
  fraud/testing.go
  headertest/header_test.go
  headertest/serde_test.go
  headertest/testing.go
  headertest/verify_test.go
  nodebuilder/core/module.go
  nodebuilder/testing.go
  nodebuilder/tests/fraud_test.go
  nodebuilder/tests/swamp/swamp.go
  share/eds/retriever_test.go
Labels: area:header, area:core_and_app, kind:improvement

#1634 fix(p2p/pubsub): extend pubsub options
  nodebuilder/p2p/pubsub.go
Labels: area:p2p, kind:bug-fix

#1617 chore!: bump celestia app v0.12.0-rc2
  api/gateway/share.go
  core/testing.go
  go.mod
  go.sum
  nodebuilder/state/core.go
  nodebuilder/state/keyring.go
  nodebuilder/state/opts.go
  nodebuilder/testing.go
  nodebuilder/tests/swamp/config.go
  share/availability/light/availability_test.go
  share/availability/light/testdata/block-825320.json
  share/availability/light/testdata/sample-block.json
  share/empty.go
  share/ipld/nmt.go
  share/share.go
  state/core_access.go
  state/integration_test.go
Labels: kind:dependencies

#1636 docs: fix minor typos
  docs/adr/adr-001-predevnet-celestia-node.md
  docs/adr/adr-005-plugins.md
  docs/adr/adr-template.md
Labels: documentation

#1583 chore(swamp): replace cosmos prefix with celestia in swamp tests
  cmd/celestia/main.go
  core/config.go
Labels: swamp, kind:bug-fix

#1642 feat(share/discovery): Ensure only one instance of EnsurePeers is running
  share/availability/discovery/discovery.go
  share/availability/full/availability.go
  share/availability/light/availability.go
Labels: area:shares, kind:improvement

#1650 chore(nodebuilder/p2p): Update Arabica kaarina peerID
  nodebuilder/p2p/bootstrap.go
Labels: kind:miscellaneous

#1652 fix(core/listener): Only broadcast datahash if core node is not syncing
  core/listener.go
Labels: area:shares, area:core_and_app, kind:bug-fix

#1643 nodebuilder: make proxy constructors private in all modules
  nodebuilder/core/constructors.go
  nodebuilder/core/module.go
  nodebuilder/das/constructors.go
  nodebuilder/das/module.go
  nodebuilder/gateway/constructors.go
  nodebuilder/gateway/module.go
  nodebuilder/header/module.go
  nodebuilder/header/service.go
  nodebuilder/p2p/addrs.go
  nodebuilder/p2p/bitswap.go
  nodebuilder/p2p/config.go
  nodebuilder/p2p/host.go
  nodebuilder/p2p/identity.go
  nodebuilder/p2p/ipld.go
  nodebuilder/p2p/misc.go
  nodebuilder/p2p/module.go
  nodebuilder/p2p/opts.go
  nodebuilder/p2p/p2p_test.go
  nodebuilder/p2p/pubsub.go
  nodebuilder/p2p/routing.go
  nodebuilder/rpc/constructors.go
  nodebuilder/rpc/module.go
  nodebuilder/state/core.go
  nodebuilder/state/keyring.go
  nodebuilder/state/module.go
Labels: area:repository, kind:improvement

#1639 fix(share/discovery): decouple peer discovery from event processing
  share/availability/discovery/discovery.go
Labels: area:p2p, kind:bug-fix

#1648 chore: upgrade to celestia-app 0.12.0-rc4
  go.mod
  go.sum
Labels: area:core_and_app, kind:dependencies, T:dependencies

#1526 fix: `namespaced_data` endpoint
  api/gateway/share.go
  api/gateway/share_test.go
Labels: area:shares, area:core_and_app, kind:bug-fix

#1647 fix(header/p2p): add trivial retrying for trustedPeer requested
  libs/header/p2p/exchange.go
  libs/header/p2p/options.go
Labels: area:header, kind:bug-fix
