Repository celestiaorg/celestia-node, pull requests merged in 2024-02, with the labels that each got.

#3146 feat(rpc): implementing go-da interface
  Makefile
  api/rpc/client/client.go
  api/rpc_test.go
  blob/blob.go
  go.mod
  go.sum
  nodebuilder/da/da.go
  nodebuilder/da/mocks/api.go
  nodebuilder/da/module.go
  nodebuilder/da/service.go
  nodebuilder/module.go
  nodebuilder/node.go
  nodebuilder/rpc/constructors.go
  nodebuilder/tests/da_test.go
  nodebuilder/tests/helpers_test.go
  share/p2p/peers/manager.go
Labels: area:rpc, kind:feat

#3158 chore: bump go-header
  go.mod
  go.sum
Labels: kind:deps, kind:chore

#3152 fix: improve rpc.skip-auth
  api/rpc/server.go
  api/rpc_test.go
  nodebuilder/rpc/constructors.go
Labels: area:rpc, kind:fix

#3171 feat: add example value for blob.GasPrice
  api/docgen/examples.go
Labels: kind:fix, area:api, area:blob, external

#3155 ci: run unit tests on m1 mac runner vs macos-latest intel mac
  .github/workflows/ci_release.yml
  .github/workflows/go-ci.yml
Labels: kind:ci

#3172 chore(ci): split da into own tag, and skip a consistently failing test
  .github/workflows/integration-tests.yml
  nodebuilder/tests/da_test.go
Labels: kind:testing

#3008 feat(nodebuilder/blob/cmd): Allow submit multiple blobs through file input
  nodebuilder/blob/cmd/blob.go
  nodebuilder/blob/cmd/util.go
Labels: kind:feat, area:blob, external

#3186 specs: initialize spec with mdbook
  .github/workflows/github_pages.yml
  specs/.gitignore
  specs/book.toml
  specs/src/SUMMARY.md
  specs/src/WIP.md
Labels: kind:chore, specs

#3170 chore(nodebuilder/share): Make module construction more digestable
  api/gateway/health.go
  nodebuilder/share/constructors.go
  nodebuilder/share/module.go
Labels: area:node, kind:chore

#3206 improve: use errors.New to replace fmt.Errorf with no parameters
  api/docgen/examples.go
  cmd/auth.go
  cmd/cel-shed/header.go
  cmd/rpc.go
  core/fetcher.go
  core/listener.go
  das/daser.go
  das/options.go
  share/eds/inverted_index.go
  share/eds/store_options.go
Labels: kind:misc, external

#3191 chore(share/p2p/peers): Change namings inside discovery
  nodebuilder/share/constructors.go
  share/p2p/discovery/discovery.go
  share/p2p/peers/manager.go
  share/p2p/peers/manager_test.go
  share/p2p/peers/metrics.go
Labels: area:p2p, kind:chore
