Repository celestiaorg/celestia-node, pull requests merged in 2024-07, with the labels that each got.

#3531 feat(shwap):Add eds streaming
  share/new_eds/accessor.go
  share/new_eds/close_once.go
  share/new_eds/close_once_test.go
  share/new_eds/nd_test.go
  share/new_eds/proofs_cache.go
  share/new_eds/proofs_cache_test.go
  share/new_eds/reader.go
  share/new_eds/reader_test.go
  share/new_eds/rsmt2d.go
  share/new_eds/rsmt2d_test.go
  share/new_eds/testing.go
  share/new_eds/validation_test.go
  share/shwap/p2p/bitswap/block_fetch.go
  share/shwap/p2p/bitswap/block_fetch_test.go
  share/shwap/p2p/bitswap/block_store.go
  share/shwap/row_namespace_data_test.go
  store/file/ods.go
  store/file/ods_test.go
  store/file/q1q4_file.go
  store/file/q1q4_file_test.go
  store/file/square.go
Labels: kind:feat, shwap

#3547 fix(nodebuilder/p2p): remove prepended v against detected semantic version
  nodebuilder/node/buildInfo.go
  nodebuilder/node/buildinfo_test.go
  nodebuilder/p2p/host_test.go
Labels: kind:fix

#3537 fix(cmd): fix namespace representation in cmd output
  nodebuilder/blob/cmd/blob.go
Labels: kind:fix, v0.15.0

#3551 feat(shwap): Separate verify and validate for shwap ids
  share/new_eds/validation.go
  share/new_eds/validation_test.go
  share/shwap/eds_id.go
  share/shwap/eds_id_test.go
  share/shwap/p2p/bitswap/row_block.go
  share/shwap/p2p/bitswap/row_block_test.go
  share/shwap/p2p/bitswap/row_namespace_data_block.go
  share/shwap/p2p/bitswap/row_namespace_data_block_test.go
  share/shwap/p2p/bitswap/sample_block.go
  share/shwap/p2p/bitswap/sample_block_test.go
  share/shwap/row_id.go
  share/shwap/row_id_test.go
  share/shwap/row_namespace_data_id.go
  share/shwap/row_namespace_data_id_test.go
  share/shwap/sample_id.go
  share/shwap/sample_id_test.go
Labels: kind:feat, shwap

#3495 chore(ci): formatting / whitespace
  .github/workflows/ci_release.yml
Labels: kind:ci

#3223 misc(blob/service)!: return empty values in case blobs were not found
  blob/service.go
  blob/service_test.go
  nodebuilder/blob/blob.go
  nodebuilder/tests/blob_test.go
Labels: kind:break!, kind:misc, area:blob, v0.15.0

#3349 feat!(state/core_access): add TxConfig
  api/docgen/examples.go
  api/rpc_test.go
  blob/helper.go
  blob/service.go
  cmd/start.go
  cmd/util.go
  docs/adr/adr-009-public-api.md
  nodebuilder/blob/blob.go
  nodebuilder/blob/cmd/blob.go
  nodebuilder/blob/mocks/api.go
  nodebuilder/config_test.go
  nodebuilder/da/service.go
  nodebuilder/init.go
  nodebuilder/init_test.go
  nodebuilder/state/cmd/state.go
  nodebuilder/state/config.go
  nodebuilder/state/flags.go
  nodebuilder/state/keyring.go
  nodebuilder/state/mocks/api.go
  nodebuilder/state/module.go
  nodebuilder/state/state.go
  nodebuilder/state/stub.go
  nodebuilder/testing.go
  nodebuilder/tests/api_test.go
  nodebuilder/tests/blob_test.go
  state/core_access.go
  state/core_access_test.go
  state/state.go
  state/tx_config.go
  state/tx_config_test.go
Labels: area:state, kind:feat, kind:break!, v0.15.0

#3553 improvement(blob/cmd): remove base64 representation
  nodebuilder/blob/cmd/blob.go
Labels: kind:misc, area:blob, v0.15.0

#3391 refactor(state/gateway)!: remove SubmitTx endpoint from RPC and Gateway
  api/gateway/bindings.go
  api/gateway/bindings_test.go
  api/gateway/state.go
  nodebuilder/state/mocks/api.go
  nodebuilder/state/state.go
  nodebuilder/state/stub.go
  state/core_access.go
Labels: kind:break!, area:api, v0.15.0

#3530 docs(blob): update godoc comments to better match what Get and GetProof actually do
  blob/service.go
Labels: kind:docs, v0.15.0

#3552 refactor(pruner): reset maxHeadersPerLoop properly
  pruner/find.go
  pruner/service.go
  pruner/service_test.go
Labels: kind:refactor

#3569 fix(ci/release): golreleaser pre-release behavior
  .goreleaser.yaml
Labels: kind:ci

#3562 ci(lint): correct cfmt argument in make lint
  Makefile
Labels: kind:ci

#3581 chore: bump libp2p
  go.mod
  go.sum
Labels: kind:deps, kind:chore

#3585 refactor(shwap): revert DataRoot -> DataHash
  share/eds/eds.go
  share/eds/store.go
  share/new_eds/accessor.go
  share/new_eds/close_once.go
  share/new_eds/close_once_test.go
  share/new_eds/proofs_cache.go
  share/new_eds/rsmt2d.go
  store/cache/accessor_cache_test.go
  store/cache/noop.go
  store/file/ods.go
  store/file/q1q4_file.go
  store/store_test.go
Labels: kind:refactor, shwap

#3470 feat: add support for Blobstream API
  api/rpc/client/client.go
  api/rpc_test.go
  blob/blob.go
  blob/commitment_proof.go
  blob/service.go
  blob/service_test.go
  go.mod
  go.sum
  nodebuilder/blob/blob.go
  nodebuilder/blob/mocks/api.go
  nodebuilder/blobstream/blobstream.go
  nodebuilder/blobstream/data_root_tuple_root.go
  nodebuilder/blobstream/mocks/api.go
  nodebuilder/blobstream/module.go
  nodebuilder/blobstream/service.go
  nodebuilder/blobstream/service_test.go
  nodebuilder/header/service.go
  nodebuilder/module.go
  nodebuilder/node.go
  nodebuilder/rpc/constructors.go
  nodebuilder/share/constructors.go
  nodebuilder/share/mocks/api.go
  nodebuilder/share/share.go
  share/eds/eds.go
  share/eds/eds_test.go
  share/eds/edstest/testing.go
Labels: kind:feat, v0.15.0, area:blobstream

#3535 fix(shwap/bitswap): close acccessor in Blockstore
  share/shwap/p2p/bitswap/block_fetch_test.go
  share/shwap/p2p/bitswap/block_store.go
Labels: kind:fix, shwap

#3587 feat(shwap): Add namespace data shwap id
  share/shwap/namespace_data_id.go
  share/shwap/namespace_data_id_test.go
Labels: kind:feat, shwap

#3590 fix(nodebuilder/p2p): LNs restricted to acting as DHT clients *only*
  nodebuilder/p2p/routing.go
Labels: area:p2p, kind:fix

#3586 feat(shwap): Add axis roots to Accessor
  share/eds/edstest/testing.go
  share/new_eds/accessor.go
  share/new_eds/close_once.go
  share/new_eds/close_once_test.go
  share/new_eds/nd.go
  share/new_eds/nd_test.go
  share/new_eds/proofs_cache.go
  share/new_eds/rsmt2d.go
  share/new_eds/testing.go
  share/root.go
  share/shwap/row_namespace_data_test.go
  store/cache/accessor_cache_test.go
  store/cache/noop.go
  store/file/ods.go
  store/file/ods_test.go
  store/file/q1q4_file.go
  store/file/q1q4_file_test.go
  store/store.go
  store/store_test.go
Labels: kind:feat, shwap

#3596 fix(shwap/store): ensure EDS is accessible during writes
  store/store.go
Labels: kind:fix, shwap

#3592 feat(shwap): Add bufferisation for writing ods/Q1Q4 files
  store/file/ods.go
  store/file/q1q4_file.go
  store/store_test.go
Labels: kind:feat, shwap

#3584 feat(shwap/p2p): Bitswap Getter
  share/shwap/p2p/bitswap/getter.go
  share/shwap/p2p/bitswap/getter_test.go
Labels: kind:feat, shwap

#3605 feat(shwap): Shwap add readFrom Writeto methods to shwap ids
  share/shwap/eds_id.go
  share/shwap/eds_id_test.go
  share/shwap/namespace_data.go
  share/shwap/namespace_data_id.go
  share/shwap/namespace_data_id_test.go
  share/shwap/row_id.go
  share/shwap/row_id_test.go
  share/shwap/row_namespace_data_id.go
  share/shwap/row_namespace_data_id_test.go
  share/shwap/sample_id.go
  share/shwap/sample_id_test.go
Labels: kind:feat, shwap

#3539 feat(blob): blobsub
  blob/service.go
  blob/service_test.go
  header/headertest/testing.go
  nodebuilder/blob/blob.go
  nodebuilder/blob/module.go
  state/core_access.go
  state/tx_config.go
Labels: kind:feat, area:blob, v0.15.0

#3598 feat(shwap): Shwap core integration
  core/eds.go
  core/exchange.go
  core/exchange_test.go
  core/listener.go
  core/listener_no_race_test.go
  core/listener_test.go
Labels: kind:feat, shwap

#3599 feat(shwap): Shwap cascade and mock getters
  share/getters/getter_test.go
  share/getters/ipld.go
  share/getters/store.go
  share/shwap/getter.go
  share/shwap/getters/cascade.go
  share/shwap/getters/cascade_test.go
  share/shwap/getters/mock/getter.go
  share/shwap/getters/testing.go
Labels: kind:feat, shwap

#3607 refactor(shwap): Rename remaining dataroot references
  store/store.go
  store/store_test.go
  store/striplock.go
Labels: kind:refactor, shwap

#3608 fix(shwap): don't cache empty eds and close recent accessor
  store/store.go
  store/striplock.go
Labels: kind:fix, shwap

#3606 feat(blob): implement length method
  blob/blob.go
  blob/blob_test.go
  nodebuilder/blobstream/data_root_tuple_root.go
Labels: kind:feat, area:blob
